@import "../../config";
:host {
  flex: 1;
  box-shadow: $box-shadow;
  overflow: hidden;
  border-radius: $border-radius;
  background: $content-bg;
}

nz-table {
    tr {
        background-color: #ffffff
    }
}