@import "../../config";
:host {
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  background: $content-bg;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  position: relative;
}

.mask {
  z-index: 99;
  border-radius: $border-radius;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .3);
}

.header {
  $line-height: 3rem;
  flex: 0 0 3rem;
  line-height: $line-height;
  padding: 0 1rem;
  nz-breadcrumb {
    float: left;
    height: $line-height;
    line-height: $line-height;
    nz-breadcrumb-item {
      span {
        cursor: pointer;
        &:hover {
          color: $theme-color;
        }
      }
      ::ng-deep .ant-breadcrumb-separator {
        margin: 0;
      }
    }
  }
  .opera {
    float: right;
    overflow: hidden;
    button {
      margin: 0 0 0 1rem;
    }
  }
}

.content {
  flex: 1 1;
  padding: 1rem;
  overflow: auto;
  position: relative;
  .file {
    float: left;
    height: 8rem;
    width: 10rem;
    margin: 1rem;
    border: $border-line;
    border-radius: $border-radius;
    text-align: center;
    cursor: pointer;
    border-style: dashed;
    i {
      height: 5.5rem;
      font-size: 4rem;
      line-height: 6.5rem;
    }
    .name {
      font-size: 0.75rem;
      line-height: 1.5rem;
      max-width: 80%;
      margin: 0 auto;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      user-select: none;
    }
    &.selected {
      border-style: solid;
      border-color: $theme-color;
    }
  }
  .loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
