@import "../../config";
:host {
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  background: $content-bg;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.header {
  flex: 0 0 3rem;
  line-height: 3rem;
}

.content {
  flex: 1 1;
  padding: 1rem;
  .file {
    float: left;
    height: 8rem;
    width: 10rem;
    margin: 1rem;
    border: $border-line;
    border-radius: $border-radius;
    text-align: center;
    cursor: pointer;
    border-style: dashed;
    i {
      height: 5.5rem;
      font-size: 4rem;
      line-height: 6.5rem;
    }
    .name {
      font-size: 0.75rem;
      line-height: 1.5rem;
      max-width: 80%;
      margin: 0 auto;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    &.selected {
      border-style: solid;
      border-color: $theme-color;
    }
  }
}
