<div class="mask" *ngIf="edenService.requestEnv"></div>

<div class="header">
  <nz-breadcrumb>
    <nz-breadcrumb-item>
      <span (click)="edenService.changePath(['/'])">{{ "EDEN.HOME_DIR" | translate }}</span>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item *ngFor="let path of edenService.currentPath">
      <span>{{ path }}</span>
    </nz-breadcrumb-item>
  </nz-breadcrumb>
  <div class="opera">
    <!-- 容器 -->
    <button nz-button nzType="primary" *ngIf="edenService.currentPath.length==0" (click)="createBuucket()">{{ "TXEDEN.BUY_SPACE" | translate }}</button>
    <button nz-button nzType="primary" *ngIf="edenService.currentPath.length==0" [disabled]="fileSelected.size!==1" (click)="renameBucket()">{{ "EDEN.RENAME_BUCKET" | translate }}</button>
    <button nz-button nzType="primary" *ngIf="edenService.currentPath.length==0" [disabled]="!fileSelected.size" (click)="deleteBucket()">{{ "EDEN.DELETE_BUCKET" | translate }}</button>
    <!-- 容器内 -->
    <button nz-button nzType="primary" *ngIf="edenService.currentPath.length>0" (click)="edenService.fileUploadTask()">{{ "EDEN.UPLOAD_FILE" | translate }}</button>
    <button nz-button nzType="primary" *ngIf="edenService.currentPath.length>0" [disabled]="!fileSelected.size||selectedIncludeFolder"
      (click)="downloadFile()">{{ "EDEN.DOWNLOAD_FILE" | translate }}</button>
    <button nz-button nzType="primary" *ngIf="edenService.currentPath.length>0" [disabled]="!fileSelected.size" (click)="removeFile()">{{ "EDEN.REMOVE_FILE" | translate }}</button>
  </div>
</div>
<div class="content" (contextmenu)="rightClick($event)" (mousedown)="mouseDown($event, -1)">
  <div *ngFor="let file of edenService.currentView; let i = index" class="file" [class.selected]="fileSelected.has(i)" [class.notblur]="file.type!=='bucket'"
    (mousedown)="mouseDown($event, i)" (dblclick)="dblclick(i)">
    <i *ngIf="file.type!=='bucket'" [class]="type2icon(file.type)"></i>
    <i *ngIf="file.type==='bucket'" class="bucket-icon"></i>
    <div class="name">{{ file.name }}</div>
    <ng-container *ngIf="file.type==='bucket'">
      <div class="storage">
        <div [style.height.%]="file.bucketLimitStorage ? (file.bucketUsedStorage * 100 / file.bucketLimitStorage) : 0"></div>
      </div>
      <div class="detail">
        {{ file.bucketUsedStorage | humanSize }} / {{ file.bucketLimitStorage | humanSize }}
      </div>
    </ng-container>
  </div>
  <div *ngIf="edenService.currentView.length === 0 && edenService.currentPath.length === 0" class="empty-bucket">
    <h1>{{ "EDEN.EMPTY_BUCKET_TIP1" | translate }}</h1>
    <p>{{ "EDEN.EMPTY_BUCKET_TIP2" | translate }}</p>
  </div>
</div>


<app-dialog name="edenNeedPass" *ngIf="edenService.requestEnv" (nameChange)="edenService.requestEnv = false"></app-dialog>
<app-dialog [(name)]="edenDialogName" [opt]="edenDialogOpt">
</app-dialog>
