<div class="mask" *ngIf="edenService.requestEnv"></div>

<div class="header">
  <nz-breadcrumb>
    <nz-breadcrumb-item *ngIf="mailPath==='inbox' || mailPath==='outbox' || mailPath==='mail'">
      <a (click)="edenService.changePath(['/']);mailPath='mail'">
        {{ "SIDERBAR.MAIL" | translate }}
      </a>
      <button *ngIf="mailPath==='mail'" nz-button nzType="default" nzSize="small" nzShape="circle" (click)="mailTip=true"
        class="genaro-question-button"></button>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item *ngIf="mailPath===''">
      <span (click)="edenService.changePath(['/']);changeMailPath();">{{ "EDEN.HOME_DIR" | translate }}</span>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item *ngFor="let path of edenService.currentPath">
      <span>{{ path }}</span>
    </nz-breadcrumb-item>
  </nz-breadcrumb>
  <div class="opera">
    <!-- 容器 -->
    <ng-container *ngIf="edenService.currentPath.length==0 && mailPath!=='inbox' && mailPath!=='outbox'">
      <button nz-button nzType="primary" (click)="createBucket()">{{ "TXEDEN.BUY_SPACE" | translate }}</button>
      <button nz-button *ngIf="mailPath==='mail'" nzType="primary" (click)="edenDialogName='buyTraffic'">{{
        "TXEDEN.BUY_TRAFFIC" | translate }}</button>
      <button nz-button nzType="primary" [disabled]="fileSelected.size!==1" (click)="renameBucket()" *ngIf="settingService.appType !== 'gmail'">{{
        "EDEN.RENAME_BUCKET" | translate }}</button>
      <button nz-button nzType="primary" [disabled]="!fileSelected.size" (click)="deleteBucket()">{{
        "EDEN.DELETE_BUCKET" | translate }}</button>
      <button nz-button *ngIf="mailPath==='mail'" nzType="primary" [disabled]="!(fileSelected.size===1 && !edenService.mail.inbox)"
        (click)="setInbox()">{{
        "MAIL.SET_RECEIVE" | translate}}</button>
      <button nz-button *ngIf="mailPath==='mail'" nzType="primary" [disabled]="!(fileSelected.size===1 && !edenService.mail.outbox)"
        (click)="setOutbox()">{{
        "MAIL.SET_SEND" | translate }}</button>
    </ng-container>
    <!-- 容器内 -->
    <ng-container *ngIf="edenService.currentPath.length>0 && mailPath!=='inbox' && mailPath!=='outbox'">
      <button nz-button nzType="primary" (click)="edenService.fileUploadTask()">{{ "EDEN.UPLOAD_FILE" | translate }}</button>
      <button nz-button nzType="primary" [disabled]="fileSelected.size !== 1" (click)="shareFile()" *ngIf="settingService.appType !== 'gmail'">{{
        "EDEN.SHARE_FILE" | translate }}</button>
      <button nz-button nzType="primary" [disabled]="!fileSelected.size||selectedIncludeFolder" (click)="downloadFile()">{{
        "EDEN.DOWNLOAD_FILE" | translate }}</button>
      <button nz-button nzType="primary" [disabled]="!fileSelected.size" (click)="removeFile()">{{ "EDEN.REMOVE_FILE" |
        translate }}</button>
    </ng-container>
    <!-- 发件箱 -->
    <ng-container *ngIf="mailPath==='outbox'">
      <button nz-button nzType="primary" (click)="sendMessage()">{{ "MAIL.SEND_MESSAGE" | translate }}</button>
    </ng-container>
  </div>
</div>
<div *ngIf="mailPath==='inbox' || mailPath==='outbox' || mailPath==='mail'" class="content">
  <ng-container *ngIf="mailPath==='mail'">
    <div *ngIf="edenService.mail.inbox; else noInbox" class="folder inbox" [class.selected]="mailSelected==='inbox'"
      (click)="mailSelected='inbox'" (contextmenu)="rightClick('inbox')" (dblclick)="openInbox()">
      <i class="icon inbox"></i>
      {{ "MAIL.INBOX" | translate }}
    </div>
    <ng-template #noInbox>
      <div class="folder noInbox">
        <i class="icon noInbox"></i>
        {{ "MAIL.NO_INBOX" | translate }}
      </div>
    </ng-template>
    <div *ngIf="edenService.mail.outbox; else noOutbox" class="folder outbox" [class.selected]="mailSelected==='outbox'"
      (click)="mailSelected='outbox'" (contextmenu)="rightClick('outbox')" (dblclick)="openOutbox()">
      <i class="icon outbox"></i>
      {{ "MAIL.OUTBOX" | translate }}
    </div>
    <ng-template #noOutbox>
      <div class="folder noOutbox">
        <i class="icon noOutbox"></i>
        {{ "MAIL.NO_OUTBOX" | translate }}
      </div>
    </ng-template>
    <ng-container *ngIf=" !edenService.mail.inbox && !edenService.mail.outbox">
    </ng-container>
  </ng-container>
  <ng-container *ngIf="mailPath==='inbox'">
    <nz-table [nzData]="txEdenService.mailList.to" #mailsTable class="tx" [nzScroll]='{y: el.nativeElement.offsetHeight - 180 + "px"}'>
      <thead>
        <tr>
          <!-- <th></th> -->
          <th nzWidth="25%">{{ "MAIL.SENDER" | translate }}</th>
          <th nzWidth="20%">{{ "MAIL.TITLE" | translate }}</th>
          <th nzWidth="15%">{{ "MAIL.STORAGE" | translate }}</th>
          <th nzWidth="15%">{{ "MAIL.SEND_TIME" | translate }}</th>
          <th nzWidth="15%">{{ "MAIL.RECEIVE_TIME" | translate }}</th>
          <th nzWidth="10%">{{ "MAIL.OPERATION" | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let mail of mailsTable.data">
          <!-- <td>已读未读</td> -->
          <td>{{mail.fromAddress | longAddr | shortAddr}}</td>
          <td>{{mail.fileName}}</td>
          <td>{{mail.fileSize | humanSize }}</td>
          <td>{{mail.created | date:"MM-dd HH:mm" }}</td>
          <td>{{mail.agreeTime | date:"MM-dd HH:mm" }}</td>
          <td *ngIf="mail.reject">
            <a (click)="showMessage(mail)">
              <i nz-icon type="eye" theme="outline"></i>
            </a>
            &nbsp;&nbsp;
            <a (click)="deleteMessage(mail)">
              <i nz-icon type="delete" theme="outline"></i>
            </a>
          </td>
          <td *ngIf="!mail.reject">
            <a (click)="signInMessage(mail)">签收</a>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </ng-container>
  <ng-container *ngIf="mailPath === 'outbox'">
    <nz-table [nzData]="txEdenService.mailList.from" #mailsTable class="tx" [nzScroll]='{y: el.nativeElement.offsetHeight - 180 + "px"}'>
      <thead>
        <tr>
          <!-- <th></th> -->
          <th nzWidth="25%">{{ "MAIL.RECEIVER" | translate }}</th>
          <th nzWidth="20%">{{ "MAIL.TITLE" | translate }}</th>
          <th nzWidth="15%">{{ "MAIL.STORAGE" | translate }}</th>
          <th nzWidth="15%">{{ "MAIL.SEND_TIME" | translate }}</th>
          <th nzWidth="15%">{{ "MAIL.RECEIVE_TIME" | translate }}</th>
          <th nzWidth="10%">{{ "MAIL.OPERATION" | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let mail of mailsTable.data">
          <!-- <td>已读未读</td> -->
          <td>{{mail.toAddress | longAddr | shortAddr}}</td>
          <td>{{mail.fileName}}</td>
          <td>{{mail.fileSize | humanSize }}</td>
          <td>{{mail.created | date:"MM-dd HH:mm" }}</td>
          <td>{{mail.agreeTime | date:"MM-dd HH:mm" }}</td>
          <td>
            <a (click)="showMessage(mail)">
              <i nz-icon type="eye" theme="outline"></i>
            </a>
            &nbsp;&nbsp;
            <a (click)="deleteMessage(mail)">
              <i nz-icon type="delete" theme="outline"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </ng-container>
</div>
<div *ngIf="edenService.currentPath.length==0 && mailPath!=='inbox' && mailPath!=='outbox' && mailPath==='mail'" class="header">
  <nz-breadcrumb>
    <nz-breadcrumb-item *ngIf="mailPath==='mail'">
      <span (click)="edenService.changePath(['/'])">{{ "EDEN.HOME_DIR" | translate }}</span>
    </nz-breadcrumb-item>
  </nz-breadcrumb>
</div>
<div *ngIf="mailPath!=='inbox' && mailPath!=='outbox'" class="content" (contextmenu)="rightClick($event)" (mousedown)="mouseDown($event, -1)">
  <div *ngFor="let file of edenService.currentView; let i = index" class="file" [class.selected]="fileSelected.has(i)"
    [class.notblur]="file.type!=='bucket'" (mousedown)="mouseDown($event, i)" (dblclick)="dblclick(i)">
    <i *ngIf="file.type!=='bucket'" nz-icon [type]="type2icon(file.type)" theme="outline"></i>
    <i *ngIf="file.type==='bucket'" class="bucket-icon"></i>
    <div class="name">{{ file.name }}</div>
    <ng-container *ngIf="file.type==='bucket'">
      <div class="storage">
        <div [style.height.%]="file.limitStorage ? (file.usedStorage * 100 / file.limitStorage) : 0"></div>
      </div>
      <div class="detail">
        {{ file.usedStorage | humanSize }} / {{ file.limitStorage | humanSize }}
      </div>
    </ng-container>
  </div>
  <div *ngIf="edenService.currentView.length === 0 && edenService.currentPath.length === 0 && settingService.appType !== 'gmail'"
    class="empty-bucket">
    <h1>{{ "EDEN.EMPTY_BUCKET_TIP1" | translate }}</h1>
    <p>{{ "EDEN.EMPTY_BUCKET_TIP2" | translate }}</p>
  </div>
  <div *ngIf="edenService.currentView.length === 0 && edenService.currentPath.length === 0 && settingService.appType === 'gmail'">
    <div class="folder noBucket">
      <i class="icon noBucket"></i>
      {{ "EDEN.EMPTY_BUCKET_TIP1" | translate }}
    </div>
  </div>
  <div *ngIf="edenService.currentView.length === 0 && edenService.currentPath.length > 0" class="empty-bucket">
    <h1>{{ "EDEN.EMPTY_FILE_TIP1" | translate }}</h1>
    <p>{{ "EDEN.EMPTY_FILE_TIP2" | translate }}</p>
  </div>
</div>

<nz-modal [nzVisible]="trafficLimit" [nzTitle]="null" [nzFooter]="null" [nzMaskClosable]="true" [nzClosable]="false"
  (nzOnCancel)="trafficLimit=false">
  <i nz-icon type="info-circle" theme="outline" class="info"></i> 提示 ： 流量不足，无法查看。点击“<a (click)="trafficLimit=false; edenDialogName='buyTraffic'">购买流量</a>”，成功购买后，再次查看。
</nz-modal>
<app-dialog name="edenNeedPass" *ngIf="edenService.requestEnv" (nameChange)="edenService.requestEnv = false" [opt]="'MODEL.EDEN_NEED_PASS' | translate"></app-dialog>
<app-dialog [(name)]="edenDialogName" [opt]="edenDialogOpt"></app-dialog>
<nz-modal [nzVisible]="mailTip" [nzTitle]="null" [nzCancelText]="null" [nzClosable]="false" (nzOnOk)="mailTip=false">
  <div [innerHTML]="'MAIL.HOW_TO_USE' | translate"></div>
</nz-modal>
