@import "../../config";

:host {
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  background: $content-bg;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  position: relative;
}

.mask {
  z-index: 99;
  border-radius: $border-radius;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .3);
}

.header {
  $line-height: 3rem;
  flex: 0 0 3rem;
  line-height: $line-height;
  padding: 0 1rem;

  nz-breadcrumb {
    float: left;
    height: $line-height;
    line-height: $line-height;

    nz-breadcrumb-item {
      span {
        cursor: pointer;

        &:hover {
          color: $theme-color;
        }
      }

      ::ng-deep .ant-breadcrumb-separator {
        margin: 0;
      }
    }
  }

  .opera {
    float: right;
    overflow: hidden;

    button {
      margin: 0 0 0 1rem;
    }
  }
}

.content {
  flex: 1 1;
  padding: 1rem;
  overflow: auto;
  position: relative;

  .file {
    float: left;
    height: 8rem;
    width: 10rem;
    margin: 1rem;
    border: $border-line;
    border-radius: $border-radius;
    text-align: center;
    position: relative;
    border-style: dashed;
    overflow: hidden;
    color: gray;
    cursor: pointer;

    *:not(.detail) {
      position: relative;
      z-index: 1;
    }

    i {
      height: 5.5rem;
      font-size: 4rem;
      line-height: 6.5rem;

      &.bucket-icon {
        background-image: url(assets/img/bucket-icon.png);
        display: block;
        background-size: auto 70%;
        background-position: 50% 90%;
        background-repeat: no-repeat;
      }
    }

    .name {
      font-size: 0.75rem;
      line-height: 1.5rem;
      max-width: 80%;
      margin: 0 auto;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      user-select: none;
    }

    .storage {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: calc(100% + 2px);
      z-index: 0;

      div {
        position: absolute;
        bottom: 0;
        background: $theme-color;
        width: 100%;
        height: 50%;
        opacity: 0.1;
      }
    }

    *:not(.detail) {
      transition: ease .1s all;
      filter: blur(0);
    }

    &:not(.notblur):hover>*:not(.detail) {
      filter: blur(5px);
    }

    .detail {
      position: absolute;
      top: 0;
      transition: ease .1s all;
      color: $theme-color;
      background: rgba(255, 255, 255, .2);
      opacity: 0;
      z-index: 2;
      height: 100%;
      width: 100%;
      line-height: 12rem;
    }

    &:hover .detail {
      opacity: 1;
    }

    &.selected {
      border-style: solid;
      border-color: $theme-color;
    }
  }

  .empty-bucket {
    text-align: center;
    position: absolute;
    height: 18rem;
    padding-top: 8rem;
    background-image: url(assets/img/empty-bucket.jpg);
    background-size: auto 30%;
    background-position: 50% 10%;
    background-repeat: no-repeat;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    h1 {
      margin: 0 0 1rem;
      color: #888;
      font-size: 1rem;
    }

    p {
      margin: 0;
      font-size: 0.75rem;
      color: #AAA;
    }
  }
}

hr {
  width: 98%;
  text-align: center;
}

.folder {
  float: left;
  height: 8rem;
  width: 10rem;
  margin: 1rem;
  border: $border-line;
  border-radius: $border-radius;
  text-align: center;
  position: relative;
  border-style: dashed;
  overflow: hidden;
  color: gray;
  cursor: pointer;

  i.icon {
    height: 5.5rem;
    font-size: 4rem;
    line-height: 6.5rem;
    display: block;
    background-size: auto 70%;
    background-position: calc(50% + 10px) 90%;
    background-repeat: no-repeat;

    &.inbox {
      background-image: url(assets/img/inbox.png);
    }

    &.outbox {
      background-image: url(assets/img/outbox.png);
    }

    &.noInbox {
      background-image: url(assets/img/no-inbox.png);
    }

    &.noOutbox {
      background-image: url(assets/img/no-outbox.png);
    }

    &.noBucket {
      background-image: url(assets/img/empty-bucket.jpg);
      background-size: contain;
      background-position: center center;
    }
  }
}

:host:not(.long-page) {
  ::ng-deep .ant-spin-nested-loading {
    position: static;

    .ant-spin-container {
      position: static;

      nz-pagination {
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }
  }
}

nz-table {
  ::ng-deep nz-pagination>ul {
    position: relative;
    right: 1rem;
  }

  th,
  td {
    padding: 1rem 0.5rem;

    &:first-of-type {
      padding-left: 1rem;
    }
  }
}

.tx {
  td {
    i.anticon {
      font-size: 1rem;

      &.anticon-check-circle {
        color: $success-color;
      }

      &.anticon-question-circle {
        color: $warn-color;
      }

      &.anticon-close-circle {
        color: $error-color;
      }
    }
  }
}
