@import "../../config";
nz-card {
    height: 100%;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    text-align: center;
    img {
        margin: 90px auto 40px auto;
        width: 200px;
    }
    .tip1 {
        font-size: 26px;
        margin: 20px auto 0;
    }
    .tip2 {
        font-size: 20px;
        margin: 0 auto;
        color: gray;
    }
}
