@import "../../config";
:host {
  flex: 1;
  box-shadow: $box-shadow;
  overflow: hidden;
  border-radius: $border-radius;
  background: $content-bg;
}

.download-miner {
    text-align: center;
    >img {
        margin: 90px auto 40px auto;
    }
    >h1 {
        font-size: 1.6rem;
        margin: 20px auto;
    }
    >h2 {
        margin: 0 auto;
        color: gray;
    }
}