
.download-miner {
    text-align: center;
    >img {
        margin: 90px auto 40px auto;
    }
    >h1 {
        font-size: 1.6rem;
        margin: 20px auto;
    }
    >p {
        width: 600px;
        margin: 0 auto;
    }
}