@import "../../config.scss";
.header {
  height: $header-height;
  line-height: $header-height;
  border-bottom: $border-line;
  background: $content-bg;
  .left {
    float: left;
    padding-left: 2rem;
    font-size: 1.2rem;
    a {
      margin-right: 0.5rem
    }
    .logo {
      background-image: url(assets/img/logo.png); // background-image: url(assets/img/sharer.jpg);
      background-repeat: no-repeat;
      background-size: auto 41px;
      background-position: 50% 50%;
      height: 64px;
      width: 200px;
    }
  }
  .right {
    float: right;
    &>* {
      float: left;
      &.menu {
        margin-left: 2*$border-blank;
        margin-right: 2*$border-blank;
      }
    }
  }
}
