<div class="header">
  <div class="left">
    <a href="javascript:void(0)" (click)="setting.set('appType', null)" *ngIf="setting.appType!==null">
      <i nz-icon type="menu-unfold" theme="outline"></i>
    </a>
    G-BOX
  </div>
  <div class="right">
    <span *ngIf="txService.readyState===null">{{ 'COMMON.KEEP_LINK_1' | translate }}</span>
    <span *ngIf="txService.readyState===false">{{ 'COMMON.KEEP_LINK_2' | translate }}{{ 'COMMON.COMMA' | translate }}
      <a (click)="txService.connect()">{{ 'COMMON.KEEP_LINK_3' | translate }}</a>
    </span>
    <div class="block-height" *ngIf="txService.readyState===true">
      <span *ngIf="netType==='main'">
        <nz-badge nzStatus="default" [nzStyle]="{'background-color':'#f5222d', 'margin-bottom': '4px'}"></nz-badge>
        {{ "HEADER.MAIN_NET" | translate}}
      </span>
      <span *ngIf="netType==='test'">
        <nz-badge nzStatus="default" [nzStyle]="{'background-color':'#faad14', 'margin-bottom': '4px'}"></nz-badge>
        {{ "HEADER.TEST_NET" | translate}}
      </span>
      {{ "HEADER.BLOCK_HEIGHT" | translate}} {{ "COMMON.COLON" | translate}}
    </div>
    <nz-dropdown nzPlacement="bottomRight" nzTrigger="click">
      <a nz-dropdown>
        <span *ngIf="txService.readyState===true">{{ txService.chainSyncing[1]}}</span>
        <i *ngIf="txService.chainSyncing[0]" nz-icon type="sync" theme="outline" [spin]="true"></i>
        <i nz-icon type="down" theme="outline"></i>
      </a>
      <ul nz-menu>
        <li nz-menu-item *ngIf="netType==='test'">
          <a (click)="setNet('main')">
            <nz-badge nzStatus="default" [nzStyle]="{'background-color':'#f5222d', 'margin-bottom': '4px'}"></nz-badge>
            {{ "HEADER.MAIN_NET" | translate}}
          </a>
        </li>
        <li nz-menu-item *ngIf="netType==='main'">
          <a (click)="setNet('test')">
            <nz-badge nzStatus="default" [nzStyle]="{'background-color':'#faad14', 'margin-bottom': '4px'}"></nz-badge>
            {{ "HEADER.TEST_NET" | translate}}
          </a>
        </li>
      </ul>
    </nz-dropdown>
    <div class="menu">
      <nz-dropdown nzPlacement="bottomRight" nzTrigger="click" [nzDisabled]="setting.appType===null">
        <a nz-dropdown>
          <nz-avatar [nzSrc]="('avatar://' + walletService.wallets.current) | safe"></nz-avatar>
          {{ (walletService.wallets.all | getWallet:walletService.wallets.current).name || ("HEADER.NO_ACCOUNT" |
          translate) }}
          <i nz-icon type="down" theme="outline"></i>
        </a>
        <ul nz-menu>
          <li nz-menu-item *ngFor="let wallet of walletService.wallets.all">
            <a nz-row nzSpan="14" (click)="walletService.currentWallet.next(wallet)">
              <nz-avatar nzSize="small" [nzSrc]="('avatar://' + wallet.address) | safe"></nz-avatar>
              {{ wallet.name }}
            </a>
          </li>
          <li nz-menu-divider></li>
          <li nz-menu-item (click)="walletNewShown=true">
            <a>{{ "HEADER.CREATE_WALLET" | translate}}</a>
          </li>
          <!-- <li nz-menu-item>
            <a (click)="dialogName='setting'">{{ "HEADER.SETTINGS" | translate}}</a>
          </li> -->
          <li nz-menu-item>
            <a (click)="dialogName='help'">{{ "HEADER.HELP" | translate}}</a>
          </li>
          <li nz-menu-item>
            <a (click)="dialogName='about'">{{ "HEADER.ABOUT" | translate}}</a>
          </li>
        </ul>
      </nz-dropdown>
    </div>
  </div>
</div>
<app-walletNew *ngIf="walletNewShown && setting.appType !== null" (stateChange)="walletNewShown=$event"></app-walletNew>
<app-dialog [(name)]="dialogName"></app-dialog>
