@import "../../config.scss";
.header {
  height: $header-height;
  line-height: $header-height;
  border-bottom: $border-line;
  background: $content-bg;
  .left {
    float: left;
  }
  .right {
    float: right;
    &>* {
      float: left;
      &.block-height {
        margin-right: 2*$border-blank;
      }
      &.menu {
        margin-right: 2*$border-blank;
      }
    }
  }
}
