<div class="header">
  <div class="left">
    <div class="logo">{{ "HEADER.ICON" | translate }}</div>
  </div>
  <div class="right">
    <div class="block-height">
      {{ "HEADER.BLOCK_HEIGHT" | translate}} {{ "COMMON.COLON" | translate}} {{ (txService.newBlockHeaders | async)?.number ||
      0 }}</div>
    <div class="menu">
      <nz-dropdown nzPlacement="bottomRight" nzTrigger="click">
        <a nz-dropdown>
          {{ (walletService.currentWallet | async)?.name || ("HEADER.NO_ACCOUNT" | translate) }}
          <i class="anticon anticon-down"></i>
        </a>
        <ul nz-menu>
          <li nz-menu-item *ngFor="let wallet of walletService.walletList | async | slice:0:10">
            <a (click)="walletService.currentWallet.next(wallet)">{{ wallet.name }} {{ i }}</a>
          </li>
          <li nz-menu-divider></li>
          <li nz-menu-item (click)="walletNewShown=true">
            <a>{{ "HEADER.CREATE_WALLET" | translate}}</a>
          </li>
          <li nz-menu-item>
            <a>{{ "HEADER.SETTINGS" | translate}}</a>
          </li>
          <li nz-menu-item>
            <a>{{ "HEADER.HELP" | translate}}</a>
          </li>
          <li nz-menu-item>
            <a>{{ "HEADER.ABOUT" | translate}}</a>
          </li>
        </ul>
      </nz-dropdown>
    </div>
  </div>
</div>
<app-walletNew *ngIf="walletNewShown" (stateChange)="walletNewShown=$event"></app-walletNew>
