@import "../../config.scss";
:host {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.blurhost {
  filter: blur(5px);
}

.mask {
  z-index: 99;
  border-radius: $border-radius;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .3);
}

.header {
  flex: 0 12rem;
  display: flex;
  margin-bottom: 1rem;
  overflow: visible;
  .card {
    flex: 0 26rem;
    background: $content-bg;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    // padding-left: 1rem;
    &.long-card {
      margin-right: $border-blank;
      flex: 1;
      .line {
        margin-top: 2rem;
        &>div:first-of-type {
          text-align: right;
        }
      }
    }
    &.short-card {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      button {
        flex: 0 8rem;
      }
    }
  }
}
