<div class="header">
  <div class="card info">
    <div [innerHtml]="'TXSHARER.HEFT' | translate:{heft: heft}">
    </div>
    <div [innerHtml]="'TXSHARER.HEFT_RANK' | translate:{rank: heftRank}">
    </div>
  </div>
  <div class="card opera">
    <div class="status">
      {{ 'TXSHARER.BINDED' | translate }}/{{ 'TXSHARER.ALLBINDABLE' | translate }}{{ 'COMMON.COLON' | translate }}{{ staked }}/{{
      stakeAll }}
    </div>
    <div class="opera">
      <button nz-button nzType="primary" nzSize="large" nz-popover [nzContent]="stakePopover" nzTrigger="click" nzPlacement="bottomRight">
        {{ 'TXSHARER.STAKE' | translate }}
      </button>
      <button nz-button nzType="primary" nzSize="large" nz-popover [nzContent]="bindNodePopover" nzTrigger="click" nzPlacement="bottomLeft">
        {{ 'TXSHARER.BIND_NODE' | translate }}
      </button>
      <ng-template #stakePopover>
        <app-form name="stake" (submit)="tableChangeIndex=tableChangeIndex+1"></app-form>
      </ng-template>
      <ng-template #bindNodePopover>
        <app-form name="bindNode" (submit)="tableChangeIndex=tableChangeIndex+1"></app-form>
      </ng-template>
    </div>
  </div>
</div>
<app-table name="txSharer" [change]="tableChangeIndex"></app-table>
