<!-- 收款地址 -->
<div *ngIf="name==='addressFrom'" nz-row nzType="flex" nzAlign="middle">
  <div nz-col [nzSpan]="span[0]" class="label">
    {{ 'INPUT.ADDRESS_FROM' | translate }}{{ 'COMMON.COLON' | translate }}
  </div>
  <div nz-col [nzSpan]="span[1]">
    <input [value]="ipt" type="text" nz-input (keyup.enter)="submit.emit()" (input)="iptChange.emit($event.target.value)">
  </div>
</div>


<!-- 发送地址 -->
<div *ngIf="name==='addressTo'" nz-row nzType="flex" nzAlign="middle">
  <div nz-col [nzSpan]="span[0]" class="label">
    {{ 'INPUT.ADDRESS_TO' | translate }}{{ 'COMMON.COLON' | translate }}
  </div>
  <div nz-col [nzSpan]="span[1]">
    <input [value]="ipt" type="text" nz-input (keyup.enter)="submit.emit()" (input)="iptChange.emit($event.target.value)">
  </div>
</div>



<!-- 金额 -->
<div *ngIf="name==='amount'" nz-row nzType="flex" nzAlign="middle">
  <div nz-col [nzSpan]="span[0]" class="label">
    {{ 'INPUT.AMOUNT' | translate }}{{ 'COMMON.COLON' | translate }}
  </div>
  <div nz-col [nzSpan]="span[1]">
    <nz-input-group nzAddOnAfter="GNX">
      <input [value]="ipt" type="text" nz-input (keyup.enter)="submit.emit()" (input)="iptChange.emit($event.target.value)">
    </nz-input-group>
  </div>
</div>


<!-- gas -->
<ng-container *ngIf="name==='gas' && !gasDetail">
  <div nz-row nzType="flex" nzAlign="middle" class="gas">
    <div nz-col [nzSpan]="span[0]" class="label">
      {{ 'INPUT.GAS' | translate }}{{ 'COMMON.COLON' | translate }}
    </div>
    <div nz-col [nzSpan]="span[1]-2">
      <nz-slider [ngModel]="gasDefault" (ngModelChange)="iptChange.emit([$event, gasLimit])" [nzMin]="gasMin" [nzMax]="gasMax"
        [nzMarks]="gasMarks"></nz-slider>
    </div>
    <div nz-col [nzSpan]="2" class="icon">
      <i nz-icon type="edit" theme="outline" (click)="gasDetail=true"></i>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="name==='gas' && gasDetail">
  <div nz-row nzType="flex" nzAlign="middle">
    <div nz-col [nzSpan]="span[0]" class="label">
      {{ 'INPUT.GAS' | translate }}{{ 'COMMON.COLON' | translate }}
    </div>
    <div nz-col [nzSpan]="span[1]">
      <nz-input-group nzAddOnAfter="Gan">
        <input [value]="gasDefault" [(ngModel)]="gasDefault" type="text" nz-input (keyup.enter)="submit.emit()" (input)="iptChange.emit([$event.target.value, gasLimit])">
      </nz-input-group>
    </div>
  </div>
  <div nz-row nzType="flex" nzAlign="middle">
    <div nz-col [nzSpan]="span[0]" class="label">
      {{ 'INPUT.GAS_LIMIT' | translate }}{{ 'COMMON.COLON' | translate }}
    </div>
    <div nz-col [nzSpan]="span[1]">
      <input [value]="gasLimit" [(ngModel)]="gasLimit" type="text" nz-input (keyup.enter)="submit.emit()" (input)="iptChange.emit([gasDefault, $event.target.value])">
    </div>
  </div>
</ng-container>


<!-- 购买空间时长 -->
<div *ngIf="name==='spaceLimit' || name==='extendSpaceLimit'" nz-row nzType="flex" nzAlign="middle">
  <div nz-col [nzSpan]="span[0]" class="label" *ngIf="name==='spaceLimit'">
    {{ 'INPUT.SPACE_LIMIT' | translate }}{{ 'COMMON.COLON' | translate }}
  </div>
  <div nz-col [nzSpan]="span[0]" class="label" *ngIf="name==='extendSpaceLimit'">
    {{ 'INPUT.EXTEND_EXPIRY_DATE' | translate }}{{ 'COMMON.COLON' | translate }}
  </div>
  <div nz-col [nzSpan]="span[1]">
    <nz-input-group [nzAddOnAfter]="buySpaceSelectLimit">
      <input nz-input (keyup.enter)="submit.emit()" type="text" [(ngModel)]="ipt[0]" (input)="iptChange.emit(ipt)">
    </nz-input-group>
    <ng-template #buySpaceSelectLimit>
      <nz-select [(ngModel)]="ipt[1]" (ngModelChange)="iptChange.emit(ipt)">
        <nz-option nzLabel="{{ 'COMMON.YEAR(S)' | translate }}" [nzValue]="30*12"></nz-option>
        <nz-option nzLabel="{{ 'COMMON.MONTH(S)' | translate }}" [nzValue]="30"></nz-option>
      </nz-select>
    </ng-template>
  </div>
</div>

<!-- 购买空间大小 -->
<div *ngIf="name==='spaceRange' || name==='extendSpaceRange'" nz-row nzType="flex" nzAlign="middle">
  <div nz-col [nzSpan]="span[0]" class="label" *ngIf="name==='spaceRange'">
    {{ 'INPUT.SPACE_RANGE' | translate }}{{ 'COMMON.COLON' | translate }}
  </div>
  <div nz-col [nzSpan]="span[0]" class="label" *ngIf="name==='extendSpaceRange'">
    {{ 'INPUT.BUY_MORE_SPACE' | translate }}{{ 'COMMON.COLON' | translate }}
  </div>
  <div nz-col [nzSpan]="span[1]">
    <nz-input-group [nzAddOnAfter]="buySpaceSelectRange">
      <input nz-input (keyup.enter)="submit.emit()" type="text" [(ngModel)]="ipt[0]" (input)="iptChange.emit(ipt)">
    </nz-input-group>
    <ng-template #buySpaceSelectRange>
      <nz-select [(ngModel)]="ipt[1]" (ngModelChange)="iptChange.emit(ipt)">
        <nz-option nzLabel="GB" [nzValue]="1"></nz-option>
        <nz-option nzLabel="TB" [nzValue]="1024"></nz-option>
      </nz-select>
    </ng-template>
  </div>
</div>

<!-- 购买流量 -->
<div *ngIf="name==='traffic'" nz-row nzType="flex" nzAlign="middle">
  <div nz-col [nzSpan]="span[0]" class="label">
    {{ 'INPUT.TRAFFIC' | translate }}{{ 'COMMON.COLON' | translate }}
  </div>
  <div nz-col [nzSpan]="span[1]">
    <nz-input-group [nzAddOnAfter]="buyTraffic">
      <input nz-input (keyup.enter)="submit.emit()" type="text" [(ngModel)]="ipt[0]" (input)="iptChange.emit(ipt)">
    </nz-input-group>
    <ng-template #buyTraffic>
      <nz-select [(ngModel)]="ipt[1]" (ngModelChange)="iptChange.emit(ipt)">
        <nz-option nzLabel="GB" [nzValue]="1"></nz-option>
        <nz-option nzLabel="TB" [nzValue]="1024"></nz-option>
      </nz-select>
    </ng-template>
  </div>
</div>

<!-- 压注 -->
<div *ngIf="name==='stake'" nz-row nzType="flex" nzAlign="middle">
  <div nz-col [nzSpan]="span[0]" class="label">
    {{ 'TXSHARER.STAKE' | translate }}{{ 'COMMON.COLON' | translate }}
  </div>
  <div nz-col [nzSpan]="span[1]" class="preview">
    <nz-input-group nzAddOnAfter="GNX">
      <nz-input-number [ngModel]="ipt" type="number" [nzMin]="5000" (input)="iptChange.emit($event.target.value)" min="0"></nz-input-number>
    </nz-input-group>
  </div>
</div>

<!-- 绑定节点 -->
<div *ngIf="name==='bindNode'" nz-row nzType="flex" nzAlign="middle">
  <div nz-col [nzSpan]="span[0]" class="label">
    nodeId{{ 'COMMON.COLON' | translate }}
  </div>
  <div nz-col [nzSpan]="span[1]">
    <nz-select style="width: 100%" ngModel="ipt" [nzDropdownMatchSelectWidth]="false" (ngModelChange)="iptChange.emit($event)">
      <nz-option *ngFor="let so of iptExtra" [nzValue]="so" [nzLabel]="so"></nz-option>
      <nz-option nzValue="0" [nzLabel]="'TXSHARER.NO_BIND_ID' | translate"></nz-option>
    </nz-select>
  </div>
</div>

<!-- 绑定节点Token -->
<div *ngIf="name==='bindNodeToken'" nz-row nzType="flex" nzAlign="middle">
  <div nz-col [nzSpan]="span[0]" class="label">
    token{{ 'COMMON.COLON' | translate }}
  </div>
  <div nz-col [nzSpan]="span[1]">
    <input [value]="ipt" type="text" nz-input (keyup.enter)="submit.emit()" (input)="iptChange.emit($event.target.value)">
  </div>
</div>

<!-- 设置 -->
<div *ngIf="name==='setting'" nz-row class="setting">
  <div nz-col [nzSpan]="span[0]" [nzOffset]="span[2]">
    {{ ('MODEL.SETTING.' + ipt.toUpperCase()) | translate}}
  </div>
  <div nz-col [nzSpan]="span[1]">
    <nz-switch *ngIf="ipt!=='language'" [ngModel]="settingService[ipt]" (ngModelChange)="settingChange($event)"></nz-switch>
    <nz-select *ngIf="ipt==='language'" [ngModel]="settingService[ipt]" (ngModelChange)="settingChange($event)">
      <nz-option *ngFor="let lang of settingLangs" [nzValue]="lang" [nzLabel]="settingGetLanguageName(lang)"></nz-option>
    </nz-select>
  </div>
</div>

<!-- 密码 -->
<div *ngIf="name==='password'" nz-row nzType="flex" nzAlign="middle">
  <div nz-col [nzSpan]="span[0]" class="label">
    {{ 'INPUT.PASSWORD' | translate }}{{ 'COMMON.COLON' | translate }}
  </div>
  <div nz-col [nzSpan]="span[1]">
    <input [value]="ipt" type="password" nz-input (keyup.enter)="submit.emit()" (input)="iptChange.emit($event.target.value)">
  </div>
</div>

<!-- 旧密码 -->
<div *ngIf="name==='passwordOld'" nz-row nzType="flex" nzAlign="middle">
  <div nz-col [nzSpan]="span[0]" class="label">
    {{ 'INPUT.PASSWORD_OLD' | translate }}{{ 'COMMON.COLON' | translate }}
  </div>
  <div nz-col [nzSpan]="span[1]">
    <input [value]="ipt" type="password" nz-input (keyup.enter)="submit.emit()" (input)="iptChange.emit($event.target.value)">
  </div>
</div>

<!-- 新密码 -->
<div *ngIf="name==='passwordNew'" nz-row nzType="flex" nzAlign="middle">
  <div nz-col [nzSpan]="span[0]" class="label">
    {{ 'INPUT.PASSWORD_NEW' | translate }}{{ 'COMMON.COLON' | translate }}
  </div>
  <div nz-col [nzSpan]="span[1]">
    <input [value]="ipt" type="password" nz-input (keyup.enter)="submit.emit()" (input)="iptChange.emit($event.target.value)">
  </div>
</div>

<!-- 重复密码 -->
<div *ngIf="name==='passwordRepeat'" nz-row nzType="flex" nzAlign="middle">
  <div nz-col [nzSpan]="span[0]" class="label">
    {{ 'INPUT.PASSWORD_REPEAT' | translate }}{{ 'COMMON.COLON' | translate }}
  </div>
  <div nz-col [nzSpan]="span[1]">
    <input [value]="ipt" type="password" nz-input (keyup.enter)="submit.emit()" (input)="iptChange.emit($event.target.value)">
  </div>
</div>

<!-- 确认/取消 按钮 -->
<div *ngIf="name==='step'" nz-row nzType="flex" nzAlign="middle">
  <div nz-col [nzSpan]="span[1]" [nzOffset]="span[0]" class="step">
    <button *ngIf="ipt[0]!==null" nz-button (click)="iptChange.emit('cancel')">{{ (ipt[0] ||
      'COMMON.CANCEL')
      | translate }}</button>
    <button *ngIf="ipt[1]!==null" nz-button nzType="primary" (click)="iptChange.emit()">{{ (ipt[1] || 'COMMON.CONFIRM')
      | translate }}</button>
  </div>
</div>




<!-- 文字 -->
<div *ngIf="name==='text'" nz-row nzType="flex" nzAlign="middle">
  <div nz-col [nzSpan]="span[1]" [nzOffset]="span[0]" class="text">
    {{ ipt }}
  </div>
</div>

<!-- 带标签的文字 -->
<div *ngIf="name==='label-text'" nz-row nzType="flex" nzAlign="middle">
  <div nz-col [nzSpan]="span[0]" class="label">
    {{ ipt }}{{ 'COMMON.COLON' | translate }}
  </div>
  <div nz-col [nzSpan]="span[1]">
    {{ iptExtra }}
  </div>
</div>

<!-- 无标签的密码输入框 -->
<div *ngIf="name==='password-no-label'" nz-row nzType="flex" nzAlign="middle">
  <div nz-col [nzSpan]="span[1]" [nzOffset]="span[0]" class="text">
    <input nz-input (keyup.enter)="submit.emit()" type="password" nzSize="large" [placeholder]="iptExtra[0] ||('MODEL.OLD_PASSWORD_PLACEHOLDER' | translate)"
      [value]="ipt" (input)="iptChange.emit($event.target.value)">
  </div>
</div>

<!-- 无标签的文字输入框 -->
<div *ngIf="name==='input-no-label'" nz-row nzType="flex" nzAlign="middle">
  <div nz-col [nzSpan]="span[1]" [nzOffset]="span[0]" class="text">
    <input nz-input (keyup.enter)="submit.emit()" type="text" nzSize="large" [placeholder]="iptExtra[0] ||('MODEL.OLD_PASSWORD_PLACEHOLDER' | translate)"
      [value]="ipt" (input)="iptChange.emit($event.target.value)">
  </div>
</div>

<!-- 帮助链接 -->
<div *ngIf="name==='help-link'" nz-row nzType="flex" nzAlign="middle" class="help link" (click)="shell.openExternal(iptExtra)">
  <div nz-col [nzSpan]="span[0]" class="label" [nzOffset]="span[2] || 0">{{ ipt }}</div>
  <div nz-col [nzSpan]="span[1]">
    <i nz-icon type="right" theme="outline"></i>
  </div>
</div>

<!-- 帮助字符 -->
<div *ngIf="name==='help-tip'" nz-row nzType="flex" nzAlign="middle" class="help">
  <div nz-col [nzSpan]="span[0]" class="label" [nzOffset]="span[2] || 0">{{ ipt }}</div>
  <div nz-col [nzSpan]="span[1]">{{ iptExtra }}</div>
</div>

<!-- 检查版本 -->
<div *ngIf="name==='help-checkversion'" nz-row nzType="flex" nzAlign="middle" class="help clickable">
  <div nz-col [nzSpan]="span[0]" class="label" [nzOffset]="span[2] || 0">{{ 'MODEL.ABOUT.VERSION_UPDATE' | translate }}</div>
  <div class="button" nz-col [nzSpan]="span[1]">
    <a *ngIf="settingService.updateState === UPDATE_STATES.DEFAULT" (click)="settingService.updateApp('check')">{{
      'MODEL.ABOUT.VERSION_CHECK' | translate }}</a>
    <span *ngIf="settingService.updateState === UPDATE_STATES.ERROR">{{ 'MODEL.ABOUT.VERSION_CHECK_ERROR' | translate
      }}</span>
    <span *ngIf="settingService.updateState === UPDATE_STATES.CHECKING">{{ 'MODEL.ABOUT.VERSION_CHECKING' | translate
      }}</span>
    <span *ngIf="settingService.updateState === UPDATE_STATES.NOT_AVAILABLE">{{ 'MODEL.ABOUT.VERSION_IS_LATEST' |
      translate }}</span>
    <span *ngIf="settingService.updateState === UPDATE_STATES.DOWNLOADING">{{ 'MODEL.ABOUT.VERSION_DOWNLOADING' |
      translate }}</span>
    <a *ngIf="settingService.updateState === UPDATE_STATES.DOWNLOADED" (click)="settingService.updateApp('install')">{{
      'MODEL.ABOUT.VERSION_INSTALL' | translate }}</a>
  </div>
</div>

<!-- 收件人 -->
<div *ngIf="name==='recipient'" nz-row nzType="flex" nzAlign="middle">
  <div nz-col [nzSpan]="span[0]" class="label">
    {{ 'INPUT.RECIPIENT' | translate }}{{ 'COMMON.COLON' | translate }}
  </div>
  <div nz-col [nzSpan]="span[1]">
    <input [value]="ipt" type="text" nz-input (keyup.enter)="submit.emit()" (input)="iptChange.emit($event.target.value)">
  </div>
</div>

<!-- 收费价格 -->
<div *ngIf="name==='chargePrice'" nz-row nzType="flex" nzAlign="middle">
  <div nz-col [nzSpan]="span[0]" class="label">
    {{ 'INPUT.CHARGE_PRICE' | translate }}{{ 'COMMON.COLON' | translate }}
  </div>
  <div nz-col [nzSpan]="span[1]" class="preview">
    <nz-input-group nzAddOnAfter="GNX">
      <nz-input-number [ngModel]="ipt" type="number" (input)="iptChange.emit($event.target.value)" min="0"></nz-input-number>
    </nz-input-group>
  </div>
</div>

<!-- 邮件标题 -->
<div *ngIf="name==='messageTitle'" nz-row nzType="flex" nzAlign="middle">
  <div nz-col [nzSpan]="span[0]" class="label">
    {{ 'INPUT.MESSAGE_TITLE' | translate }}{{ 'COMMON.COLON' | translate }}
  </div>
  <div nz-col [nzSpan]="span[1]">
    <input [value]="ipt" type="text" nz-input (keyup.enter)="submit.emit()" (input)="iptChange.emit($event.target.value)">
  </div>
</div>

<!-- 申请别名 -->
<div *ngIf="name==='nickName'" nz-row nzType="flex" nzAlign="middle">
  <div nz-col [nzSpan]="span[0]" class="label">
    {{ 'INPUT.NICK_NAME' | translate }}{{ 'COMMON.COLON' | translate }}
  </div>
  <div nz-col [nzSpan]="span[1]">
    <input [value]="ipt" type="text" nz-input (keyup.enter)="submit.emit()" (input)="iptChange.emit($event.target.value)">
  </div>
</div>
