<!-- 收款地址 -->
<div *ngIf="name==='addressFrom'" nz-row nzType="flex" nzAlign="middle">
  <div nz-col [nzSpan]="span[0]" class="label">
    {{ 'INPUT.ADDRESS_FROM' | translate }} {{ 'COMMON.COLON' | translate }}
  </div>
  <div nz-col [nzSpan]="span[1]">
    <input [value]="ngModel" type="text" nz-input (input)="ngModelChange.emit($event.target.value)">
  </div>
</div>


<!-- 发送地址 -->
<div *ngIf="name==='addressTo'" nz-row nzType="flex" nzAlign="middle">
  <div nz-col [nzSpan]="span[0]" class="label">
    {{ 'INPUT.ADDRESS_TO' | translate }} {{ 'COMMON.COLON' | translate }}
  </div>
  <div nz-col [nzSpan]="span[1]">
    <input [value]="ngModel" type="text" nz-input (input)="ngModelChange.emit($event.target.value)">
  </div>
</div>



<!-- 金额 -->
<div *ngIf="name==='amount'" nz-row nzType="flex" nzAlign="middle">
  <div nz-col [nzSpan]="span[0]" class="label">
    {{ 'INPUT.AMOUNT' | translate }} {{ 'COMMON.COLON' | translate }}
  </div>
  <div nz-col [nzSpan]="span[1]">
    <input [value]="ngModel" type="text" nz-input (input)="ngModelChange.emit($event.target.value)">
  </div>
</div>


<!-- gas -->
<ng-container *ngIf="name==='gas' && !gasDetail">
  <div nz-row nzType="flex" nzAlign="middle" class="gas">
    <div nz-col [nzSpan]="span[0]" class="label">
      {{ 'INPUT.GAS' | translate }} {{ 'COMMON.COLON' | translate }}
    </div>
    <div nz-col [nzSpan]="span[1]-2">
      <nz-slider [ngModel]="gasDefault" (ngModelChange)="ngModelChange.emit([$event, gasLimit])" [nzMin]="gasMin" [nzMax]="gasMax"
        [nzMarks]="gasMarks"></nz-slider>
    </div>
    <div nz-col [nzSpan]="2" class="icon">
      <i class="anticon anticon-edit" (click)="gasDetail=true"></i>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="name==='gas' && gasDetail">
  <div nz-row nzType="flex" nzAlign="middle">
    <div nz-col [nzSpan]="span[0]" class="label">
      {{ 'INPUT.GAS' | translate }} {{ 'COMMON.COLON' | translate }}
    </div>
    <div nz-col [nzSpan]="span[1]">
      <input [value]="gasDefault" [(ngModel)]="gasDefault" type="text" nz-input (input)="ngModelChange.emit([$event.target.value, gasLimit])">
    </div>
  </div>
  <div nz-row nzType="flex" nzAlign="middle">
    <div nz-col [nzSpan]="span[0]" class="label">
      {{ 'INPUT.GAS_LIMIT' | translate }} {{ 'COMMON.COLON' | translate }}
    </div>
    <div nz-col [nzSpan]="span[1]">
      <input [value]="gasLimit" [(ngModel)]="gasLimit" type="text" nz-input (input)="ngModelChange.emit([gasDefault, $event.target.value])">
    </div>
  </div>
</ng-container>


<!-- 购买空间时长 -->
<div *ngIf="name==='spaceLimit'" nz-row nzType="flex" nzAlign="middle">
  <div nz-col [nzSpan]="span[0]" class="label">
    {{ 'INPUT.SPACE_LIMIT' | translate }} {{ 'COMMON.COLON' | translate }}
  </div>
  <div nz-col [nzSpan]="span[1]">
    <nz-input-group [nzAddOnAfter]="buySpaceSelectLimit">
      <input nz-input type="text" [(ngModel)]="spaceLimitValue" (input)="ngModelChange.emit($event.target.value * spaceLimitUnit)">
    </nz-input-group>
    <ng-template #buySpaceSelectLimit>
      <nz-select [(ngModel)]="spaceLimitUnit" (ngModelChange)="ngModelChange.emit(spaceLimitValue * $event)">
        <nz-option nzLabel="{{ 'COMMON.YEAR(S)' | translate }}" [nzValue]="30*12"></nz-option>
        <nz-option nzLabel="{{ 'COMMON.MONTH(S)' | translate }}" [nzValue]="30"></nz-option>
      </nz-select>
    </ng-template>
  </div>
</div>

<!-- 购买空间大小 -->
<div *ngIf="name==='spaceRange'" nz-row nzType="flex" nzAlign="middle">
  <div nz-col [nzSpan]="span[0]" class="label">
    {{ 'INPUT.SPACE_RANGE' | translate }} {{ 'COMMON.COLON' | translate }}
  </div>
  <div nz-col [nzSpan]="span[1]">
    <nz-input-group [nzAddOnAfter]="buySpaceSelectRange">
      <input nz-input type="text" [(ngModel)]="spaceRangeValue" (input)="ngModelChange.emit($event.target.value * spaceRangeUnit)">
    </nz-input-group>
    <ng-template #buySpaceSelectRange>
      <nz-select [(ngModel)]="spaceRangeUnit" (ngModelChange)="ngModelChange.emit(spaceRangeValue * $event)">
        <nz-option nzLabel="GB" [nzValue]="1"></nz-option>
        <nz-option nzLabel="TB" [nzValue]="1024"></nz-option>
      </nz-select>
    </ng-template>
  </div>
</div>

<!-- 购买流量 -->
<div *ngIf="name==='traffic'" nz-row nzType="flex" nzAlign="middle">
  <div nz-col [nzSpan]="span[0]" class="label">
    {{ 'INPUT.TRAFFIC' | translate }} {{ 'COMMON.COLON' | translate }}
  </div>
  <div nz-col [nzSpan]="span[1]">
    <nz-input-group [nzAddOnAfter]="buyTraffic">
      <input nz-input type="text" [(ngModel)]="ngModel[0]" (input)="ngModelChange.emit(ngModel)">
    </nz-input-group>
    <ng-template #buyTraffic>
      <nz-select [(ngModel)]="ngModel[1]" (ngModelChange)="ngModelChange.emit(ngModel)">
        <nz-option nzLabel="GB" [nzValue]="1"></nz-option>
        <nz-option nzLabel="TB" [nzValue]="1024"></nz-option>
      </nz-select>
    </ng-template>
  </div>
</div>

<!-- 压注 -->
<div *ngIf="name==='stake'" nz-row nzType="flex" nzAlign="middle">
  <div nz-col [nzSpan]="span[0]" class="label">
    {{ 'TXSHARER.STAKE' | translate }} {{ 'COMMON.COLON' | translate }}
  </div>
  <div nz-col [nzSpan]="span[1]-4" class="preview">
    <input [value]="ngModel" type="number" nz-input (input)="ngModelChange.emit($event.target.value)" min="0">
  </div>
  <div nz-col [nzSpan]="4">&nbsp;&nbsp;GNX</div>
</div>

<!-- 绑定节点 -->
<div *ngIf="name==='bindNode'" nz-row nzType="flex" nzAlign="middle">
  <div nz-col [nzSpan]="span[0]" class="label">
    nodeId {{ 'COMMON.COLON' | translate }}
  </div>
  <div nz-col [nzSpan]="span[1]">
    <input [value]="ngModel" type="text" nz-input (input)="ngModelChange.emit($event.target.value)">
  </div>
</div>

<!-- 密码 -->
<div *ngIf="name==='password'" nz-row nzType="flex" nzAlign="middle">
  <div nz-col [nzSpan]="span[0]" class="label">
    {{ 'INPUT.PASSWORD' | translate }} {{ 'COMMON.COLON' | translate }}
  </div>
  <div nz-col [nzSpan]="span[1]">
    <input [value]="ngModel" type="password" nz-input (input)="ngModelChange.emit($event.target.value)">
  </div>
</div>

<!-- 旧密码 -->
<div *ngIf="name==='passwordOld'" nz-row nzType="flex" nzAlign="middle">
  <div nz-col [nzSpan]="span[0]" class="label">
    {{ 'INPUT.PASSWORD_OLD' | translate }} {{ 'COMMON.COLON' | translate }}
  </div>
  <div nz-col [nzSpan]="span[1]">
    <input [value]="ngModel" type="password" nz-input (input)="ngModelChange.emit($event.target.value)">
  </div>
</div>

<!-- 新密码 -->
<div *ngIf="name==='passwordNew'" nz-row nzType="flex" nzAlign="middle">
  <div nz-col [nzSpan]="span[0]" class="label">
    {{ 'INPUT.PASSWORD_NEW' | translate }} {{ 'COMMON.COLON' | translate }}
  </div>
  <div nz-col [nzSpan]="span[1]">
    <input [value]="ngModel" type="password" nz-input (input)="ngModelChange.emit($event.target.value)">
  </div>
</div>

<!-- 重复密码 -->
<div *ngIf="name==='passwordRepeat'" nz-row nzType="flex" nzAlign="middle">
  <div nz-col [nzSpan]="span[0]" class="label">
    {{ 'INPUT.PASSWORD_REPEAT' | translate }} {{ 'COMMON.COLON' | translate }}
  </div>
  <div nz-col [nzSpan]="span[1]">
    <input [value]="ngModel" type="password" nz-input (input)="ngModelChange.emit($event.target.value)">
  </div>
</div>

<!-- 确认按钮 -->
<div *ngIf="name==='confirm'" nz-row nzType="flex" nzAlign="middle">
  <div nz-col [nzSpan]="span[1]" [nzOffset]="span[0]">
    <button nz-button nzType="primary" (click)="ngModelChange.emit()">{{ 'COMMON.CONFIRM' | translate }}</button>
  </div>
</div>

<!-- 取消按钮 -->
<div *ngIf="name==='cancel'" nz-row nzType="flex" nzAlign="middle">
  <div nz-col [nzSpan]="span[1]" [nzOffset]="span[0]">
    <button nz-button nzType="primary" (click)="ngModelChange.emit()">{{ 'COMMON.CONFIRM' | translate }}</button>
  </div>
</div>
