@import "../../config.scss";
.bg {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $popup-bg;
  nz-card {
    border-radius: $border-radius;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: $popup-height;
    width: $popup-width;
    /deep/ .ant-card-body {
      padding-top: 0;
    }
    .header {
      $title-height: 4rem;
      height: $title-height;
      line-height: $title-height;
      position: relative;
      text-align: center;
      margin-bottom: $border-blank;
      .back {
        position: absolute;
        left: 0;
        float: left;
        color: $link-color;
        cursor: pointer;
      }
    }
    .front-page {
      text-align: center;
      .image {
        height: 100px;
        width: 100px;
        background: #CCC;
        display: inline-block;
      }
      button {
        margin-top: $border-blank;
      }
    }
    .createStep,
    .importStep {
      text-align: center;
      nz-steps {
        /deep/ .ant-steps {
          margin-bottom: $border-blank;
        }
      }
      button {
        margin: 0 $border-blank;
      }
      nz-button-group {
        button {
          margin: 0 0 0 -1px;
        }
      }
      .password {
        padding: 2*$border-blank 2*$border-blank $border-blank;
        input {
          width: $short-input;
          margin-bottom: $border-blank;
        }
      }
      .done {
        text-align: center;
        padding: $border-blank 0;
        $icon-size: 5rem;
        &>div {
          display: inline-block;
          text-align: left;
          padding-left: $icon-size + $border-blank;
          position: relative;
          height: $icon-size;
          margin-bottom: $border-blank;
          img {
            height: $icon-size;
            width: $icon-size;
            position: absolute;
            left: 0;
          }
          nz-input-group {
            width: $short-input;
            button {
              margin: 0;
            }
          }
          div {
            margin-top: $border-blank;
          }
        }
      }
    }
    .createStep {
      .tip {
        margin: $border-blank 0;
      }
      .generate {
        background: $second-bg;
        padding: $border-blank 0;
        margin-bottom: $border-blank;
        div {
          margin-bottom: $border-blank;
        }
        el-alert {
          position: relative;
          bottom: $border-blank;
        }
      }
      .confirm {
        margin-bottom: $border-blank;
        text-align: center;
        /deep/ textarea {
          display: inline-block;
          resize: none;
          width: 70%;
        }
      }
    }
    .importStep {
      .type {
        height: 8rem;
        text-align: center;
        &>div {
          $block-size: 5rem;
          height: $block-size;
          width: 1.5*$block-size;
          border: 1px dashed #CCC;
          line-height: $block-size;
          display: inline-block;
          border-radius: $border-radius;
          margin: $border-blank 2*$border-blank 0;
          cursor: pointer;
          &.chosen {
            border: 1px solid $theme-color;
            box-shadow: 0 0 $block-size -1.3rem rgba(0, 0, 0, 1);
          }
        }
      }
      .inputmnemonic {
        text-align: center;
        width: 70%;
        display: inline-block;
        textarea {
          resize: none;
          margin: $border-blank 0;
        }
      }
      .selectjson {
        cursor: pointer;
        margin: $border-blank/2 0;
        display: inline-block;
        height: 5rem;
        padding: $border-blank/2 0;
        width: 10rem;
        border: 1px dashed #CCC;
        background: $second-bg;
        text-align: center;
        i {
          font-size: 2rem;
        }
      }
    }
  }
}
