@import "../../config.scss";

:host .bg {
  position: fixed;
  z-index: 999999999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $popup-bg;

  nz-card {
    border-radius: $border-radius;
    width: 50rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    ::ng-deep .ant-card-body {
      padding-top: 0;
    }

    .header {
      $title-height: 4rem;
      height: $title-height;
      line-height: $title-height;
      position: relative;
      text-align: center;
      margin-bottom: $border-blank;

      .back {
        position: absolute;
        left: 0;
        top: 0;
        float: left;
        color: $link-color;
        cursor: pointer;
      }

      .close {
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;
        width: $title-height;
        text-align: center;
      }
    }

    .front-page {
      text-align: center;

      .generate {
        height: 100px;
        width: 200px;
        background-image: url(assets/img/key-generate.png);
        background-size: contain;
        display: inline-block;
        margin-bottom: 2rem;
      }

      button {
        margin-top: $border-blank;
      }
    }

    .createStep,
    .importStep {
      nz-steps {
        text-align: left;
      }

      text-align: center;

      nz-steps {
        ::ng-deep .ant-steps {
          margin-bottom: $border-blank;
        }
      }

      button {
        margin: 0 $border-blank;
      }

      nz-button-group {
        button {
          margin: 0 0 0 -1px;
        }
      }

      .password {
        padding: 2*$border-blank 2*$border-blank $border-blank;

        input {
          width: $short-input;
          margin-bottom: $border-blank;
        }
      }

      .done {
        text-align: center;
        padding: $border-blank 0;
        $icon-size: 5rem;

        &>div {
          display: inline-block;
          text-align: left;
          padding-left: $icon-size + $border-blank;
          position: relative;
          height: $icon-size;
          margin-bottom: $border-blank;

          img {
            height: $icon-size;
            width: $icon-size;
            position: absolute;
            left: 0;
          }

          nz-input-group {
            width: $short-input;

            button {
              margin: 0;
            }
          }

          div {
            margin-top: $border-blank;
          }
        }
      }
    }

    .createStep {
      .tip {
        margin: $border-blank auto;
        width: 60%;
      }

      .generate {
        background: $second-bg;
        padding: $border-blank 0;
        margin: 0 auto $border-blank;
        width: 80%;

        div {
          margin-bottom: $border-blank;
        }

        el-alert {
          position: relative;
          bottom: $border-blank;
        }
      }

      .confirm {
        margin-bottom: $border-blank;
        text-align: center;

        ::ng-deep textarea {
          display: inline-block;
          resize: none;
          width: 70%;
        }
      }
    }

    .importStep {
      .type {
        height: 12rem;
        text-align: center;

        &>div {
          height: 8rem;
          width: 8rem;
          border: 1px dashed #CCC;
          line-height: 13.2rem;
          display: inline-block;
          border-radius: $border-radius;
          margin: $border-blank 2*$border-blank 0;
          cursor: pointer;
          background-size: auto 4rem;
          background-position: 50% 30%;
          background-repeat: no-repeat;
          color: #CCC;

          &.mnemonic {
            background-image: url(assets/img/import-mnemonic.png);
          }

          &.json {
            background-image: url(assets/img/import-json.png);
          }

          &.chosen {
            border: 1px solid $theme-color;
            box-shadow: $box-shadow;
            color: #333;

            &.mnemonic {
              background-image: url(assets/img/import-mnemonic-active.png);
            }

            &.json {
              background-image: url(assets/img/import-json-active.png);
            }
          }
        }
      }

      .inputmnemonic {
        text-align: center;
        width: 70%;
        display: inline-block;

        textarea {
          resize: none;
          margin: $border-blank 0;
        }
      }

      .selectjson {
        cursor: pointer;
        margin: $border-blank/2 0;
        display: inline-block;
        height: 8rem;
        padding: $border-blank/2 0;
        width: 14rem;
        border: 1px dashed #CCC;
        background: $second-bg;
        text-align: center;
        border-radius: $border-radius;

        i {
          font-size: 4rem;
        }

        div {
          line-height: 2.5rem;
        }
      }
    }
  }
}
