<div class="bg">
  <nz-card [nzBordered]="false">
    <div class="header">
      <div class="back" (click)="toFrontPage()" *ngIf="newWalletType!==null">&lt;&nbsp;{{ "COMMON.BACK" | translate }}</div>
      {{ title | translate }}
      <div class="close" (click)="ALL_DONE()" *ngIf="wallet.wallets.current !== null">
        <i nz-icon type="close" theme="outline"></i>
      </div>
    </div>

    <div *ngIf="newWalletType===null" class="front-page">
      <div class="generate"></div>
      <br />
      <button nz-button nzType="primary" (click)="toCreate()">{{ 'WALLETNEW.BUTTON_NEWWALLET' | translate }}</button>
      <br />
      <button nz-button nzType="dashed" (click)="toImport()">{{ 'WALLETNEW.BUTTON_IMPORTWALLET' | translate }}</button>
    </div>

    <!-- Create New Wallet -->
    <div *ngIf="newWalletType==='create'" class="createStep">
      <nz-steps [nzCurrent]="createStep" nzSize="small">
        <nz-step nzTitle="{{ 'WALLETNEW.NEWWALLET_STEP1' | translate }}"></nz-step>
        <nz-step nzTitle="{{ 'WALLETNEW.NEWWALLET_STEP2' | translate }}"></nz-step>
        <nz-step nzTitle="{{ 'WALLETNEW.NEWWALLET_STEP3' | translate }}"></nz-step>
        <nz-step nzTitle="{{ 'WALLETNEW.NEWWALLET_STEP4' | translate }}"></nz-step>
      </nz-steps>

      <!-- Step 0 -->
      <div *ngIf="createStep===0">
        <div class="tip">{{ 'WALLETNEW.GENERATE_MNEMONIC_TIP' | translate }}</div>
        <div class="generate">
          <div>{{ mnemonic }}</div>
          <nz-button-group nzSize="small">
            <button nz-button (click)="generateMnemonic()">
              <i mat-icon>refresh</i>
              {{ 'WALLETNEW.REGENERATE' | translate }}
            </button>
            <button nz-button (click)="downloadMnemonic()">
              <i mat-icon>cloud_download</i>
              {{ 'COMMON.DOWNLOAD' | translate }}
            </button>
            <button nz-button (click)="copy()" [type]="copied ? 'success' : ''">
              <i mat-icon>{{ copied ? "check" : "file_copy" }}</i>
              {{ (copied ? "COMMON.COPIED" : "COMMON.COPY") | translate }}
            </button>
          </nz-button-group>
        </div>
        <button nz-button nzType="primary" (click)="createStep=createStep+1">{{ 'COMMON.NEXT' | translate }}</button>
      </div>

      <!-- Step 1 -->
      <div *ngIf="createStep===1">
        <div class="tip">{{ 'WALLETNEW.REPEAT_MNEMONIC_TIP' | translate }}</div>
        <div class="confirm">
          <textarea row="4" nz-input [(ngModel)]="mnemonicRepeat" placeholder="{{ 'WALLETNEW.REPEAT_MNEMONIC_PLACEHOLDER' | translate }}"></textarea>
        </div>
        <button nz-button (click)="createStep=createStep-1">{{ 'COMMON.PREV' | translate }}</button>
        <button nz-button nzType="primary" (click)="validateMnemonic()">{{ 'COMMON.NEXT' | translate }}</button>
      </div>

      <!-- Step 2 -->
      <div *ngIf="createStep===2">
        <div class="password">
          <input nz-input type="password" placeholder="{{ 'WALLETNEW.PASSWORD_PLACEHOLDER' | translate }}" [(ngModel)]="password">
          <br />
          <input nz-input type="password" placeholder="{{ 'WALLETNEW.REPEAT_PASSWORD_PLACEHOLDER' | translate }}"
            [(ngModel)]="passwordRepeat">
        </div>
        <button nz-button (click)="createStep=createStep-1">{{ 'COMMON.PREV' | translate }}</button>
        <button nz-button nzType="primary" (click)="validatePassword()" [disabled]="loading">
          <i *ngIf="loading" nz-icon type="loading" theme="outline" [spin]="true"></i>
          {{ 'COMMON.NEXT' | translate }}
        </button>
      </div>

      <!-- Step 3, Done -->
      <div *ngIf="createStep>=3">
        <div class="done">
          <div>
            <img [src]="'avatar://' + (walletAddress ? walletAddress : 'NONE') | safe">

            <nz-input-group nzSearch [nzSuffix]="createWalletChangeName">
              <input [disabled]="!isEdit" type="text" nz-input [(ngModel)]="walletName">
            </nz-input-group>
            <ng-template #createWalletChangeName>
              <button nzSearch nz-button (click)="isEdit ? changeWalletName() : null;isEdit=!isEdit;">
                <i nz-icon [type]="isEdit ? 'check' : 'edit'" theme="outline"></i>
              </button>
            </ng-template>
            <div>{{ walletAddress | longAddr }}</div>
          </div>
        </div>
        <button nz-button (click)="toFrontPage()">{{ 'WALLETNEW.ADD_ANOTHER_WALLET' | translate }}</button>
        <button nz-button nzType="primary" (click)="ALL_DONE()">{{ 'COMMON.DONE' | translate }}</button>
      </div>
    </div>

    <!-- Import Wallet -->
    <div *ngIf="newWalletType==='import'" class="importStep">
      <nz-steps [nzCurrent]="importStep" nzSize="small">
        <nz-step nzTitle="{{ 'WALLETNEW.IMPORTWALLET_STEP1' | translate }}"></nz-step>
        <nz-step nzTitle="{{ 'WALLETNEW.IMPORTWALLET_STEP2' | translate }}"></nz-step>
        <nz-step nzTitle="{{ (importType === 'json' ? 'WALLETNEW.IMPORTWALLET_STEP3_JSON' : 'WALLETNEW.IMPORTWALLET_STEP3_MNEMONIC') | translate }}"></nz-step>
        <nz-step nzTitle="{{ 'WALLETNEW.IMPORTWALLET_STEP4' | translate }}"></nz-step>
      </nz-steps>

      <!-- Step 0 -->
      <div *ngIf="importStep===0">
        <div class="type">
          <div [class]="importType === 'mnemonic' ? 'chosen mnemonic': 'mnemonic'" (click)="importType='mnemonic'">
            {{ 'WALLETNEW.IMPORTWALLET_FROM_MNEMONIC' | translate }}
          </div>
          <div [class]="importType === 'json' ? 'chosen json': 'json'" (click)="importType='json'">
            {{ 'WALLETNEW.IMPORTWALLET_FROM_JSON' | translate }}
          </div>
        </div>
        <button nz-button nzType="primary" (click)="importStep=importStep+1" [disabled]="importType===null">{{
          'COMMON.NEXT' | translate }}</button>
      </div>

      <!-- Step 1 -->
      <div *ngIf="importStep===1">

        <!-- Import from mnemonic -->
        <div *ngIf="importType === 'mnemonic'">
          <div class="tip">{{ 'WALLETNEW.MNEMONIC_TIP' | translate }}</div>
          <div class="inputmnemonic">
            <textarea row="4" nz-input [(ngModel)]="mnemonic" placeholder="{{ 'WALLETNEW.MNEMONIC_PLACEHOLDER' | translate }}"></textarea>
          </div>
          <br />
          <button nz-button (click)="importStep=importStep-1">{{ 'COMMON.PREV' | translate }}</button>
          <button nz-button nzType="primary" (click)="validateOldMnemonic()">{{ 'COMMON.NEXT' | translate }}</button>
        </div>

        <!-- Import from json -->
        <div *ngIf="importType === 'json'">
          <div class="tip">{{ 'WALLETNEW.JSON_TIP' | translate }}</div>
          <div class="selectjson" (click)="selectJson()">
            <i nz-icon type="plus" theme="outline"></i>
            <div *ngIf="!walletJson">{{ 'WALLETNEW.JSON_SELECT_TIP' | translate }}</div>
            <div *ngIf="walletJson">{{ walletJsonName }}</div>
          </div>
          <div class="tip">{{ 'WALLETNEW.JSON_PRIVATE_TIP' | translate }}</div>
          <br />
          <button nz-button (click)="importStep=importStep-1">{{ 'COMMON.PREV' | translate }}</button>
          <button nz-button nzType="primary" (click)="importStep=importStep+1" [disabled]="!walletJson">{{
            'COMMON.NEXT' | translate }}</button>
        </div>
      </div>

      <div *ngIf="importStep===2">
        <div *ngIf="importType === 'mnemonic'">
          <div class="password">
            <input nz-input type="password" placeholder="{{ 'WALLETNEW.PASSWORD_PLACEHOLDER' | translate }}"
              [(ngModel)]="password">
            <br />
            <input nz-input type="password" placeholder="{{ 'WALLETNEW.REPEAT_PASSWORD_PLACEHOLDER' | translate }}"
              [(ngModel)]="passwordRepeat">
          </div>
          <button nz-button (click)="importStep=importStep-1">{{ 'COMMON.PREV' | translate }}</button>
          <button nz-button nzType="primary" (click)="validatePassword()" [disabled]="loading">

            <i *ngIf="loading" nz-icon type="loading" theme="outline" [spin]="true"></i>
            {{ 'COMMON.NEXT' | translate }}
          </button>
        </div>

        <div *ngIf="importType === 'json'">
          <div class="password">
            <input nz-input type="password" placeholder="{{ 'WALLETNEW.PASSWORD_PLACEHOLDER' | translate }}"
              [(ngModel)]="oldPassword">
          </div>
          <button nz-button (click)="importStep=importStep-1">{{ 'COMMON.PREV' | translate }}</button>
          <button nz-button nzType="primary" (click)="validateOldPassword()" [disabled]="loading">
            <i *ngIf="loading" nz-icon type="loading" theme="outline" [spin]="true"></i>
            {{ 'COMMON.NEXT' | translate }}
          </button>
        </div>

      </div>
      <div *ngIf="importStep>=3">
        <div class="done">
          <div>
            <img [src]="'avatar://' + (walletAddress ? walletAddress : 'NONE') | safe">

            <nz-input-group nzSearch [nzSuffix]="createWalletChangeName">
              <input [disabled]="!isEdit" type="text" nz-input [(ngModel)]="walletName">
            </nz-input-group>
            <ng-template #createWalletChangeName>
              <button nzSearch nz-button (click)="isEdit ? changeWalletName() : null;isEdit=!isEdit;">
                <i [class]="isEdit ? 'anticon anticon-check' : 'anticon anticon-edit'"></i>
              </button>
            </ng-template>
            <div>{{ walletAddress | longAddr }}</div>
          </div>
        </div>
        <button nz-button (click)="toFrontPage()">{{ 'WALLETNEW.ADD_ANOTHER_WALLET' | translate }}</button>
        <button nz-button nzType="primary" (click)="ALL_DONE()">{{ 'COMMON.DONE' | translate }}</button>
      </div>
    </div>
  </nz-card>
</div>
