@import "../../config.scss";

:host {
  @extend .right-container;
}

.header {
  padding: .5rem;
  text-align: right;

  button {
    margin-left: .5rem;
  }
}

.mask {
  z-index: 99;
  border-radius: $border-radius;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .3);
}


.folder {
  float: left;
  height: 8rem;
  width: 10rem;
  margin: 1rem;
  border: $border-line;
  border-radius: $border-radius;
  text-align: center;
  position: relative;
  border-style: dashed;
  overflow: hidden;
  color: gray;
  cursor: pointer;
}
