@import "../../config.scss";

:host {
  @extend .right-container;
}

.header {
  padding: .5rem;
  flex: 0 3rem;

  button {
    margin-left: .5rem;
  }
}

.content {
  flex: 1;
}

.mask {
  z-index: 99;
  border-radius: $border-radius;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .3);
}


.folder {
  float: left;
  height: 8rem;
  width: 10rem;
  margin: 1rem;
  border: $border-line;
  border-radius: $border-radius;
  text-align: center;
  position: relative;
  border-style: dashed;
  overflow: hidden;
  color: gray;
  cursor: pointer;

  i.icon {
    height: 5.5rem;
    font-size: 4rem;
    line-height: 6.5rem;
    display: block;
    background-size: auto 70%;
    background-position: calc(50% + 10px) 90%;
    background-repeat: no-repeat;

    &.inbox {
      background-image: url(assets/img/inbox.png);
    }

    &.outbox {
      background-image: url(assets/img/outbox.png);
    }
  }
}
