<div class="mask" *ngIf="edenService.requestEnv"></div>

<div class="header">
  <button nz-button nzType="primary" (click)="edenDialogName='buySpace'">{{ "TXEDEN.BUY_SPACE" | translate }}</button>
</div>
<div class="content">
  <ng-container *ngIf="!path">
    <div *ngIf="inbox" class="folder inbox" (dblclick)="openInbox()"></div>
    <div *ngIf="outbox" class="folder outbox" (dblclick)="openOutbox()"></div>
    <ng-container *ngIf=" !inbox && !outbox">
    </ng-container>
  </ng-container>
  <ng-container *ngIf="path==='inbox' || path === 'outbox'">
    <nz-table [nzData]="mails" #mailsTable>
      <thead>
        <tr>
          <th></th>
          <th *ngIf="path==='inbox'">{{ "MAIL.SENDER" | translate }}</th>
          <th *ngIf="path==='outbox'">{{ "MAIL.RECEIVER" | translate }}</th>
          <th>{{ "MAIL.TITLE" | translate }}</th>
          <th>{{ "MAIL.STORAGE" | translate }}</th>
          <th>{{ "MAIL.SEND_TIME" | translate }}</th>
          <th>{{ "MAIL.RECEIVE_TIME" | translate }}</th>
          <th>{{ "MAIL.OPERATION" | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let mail of mailsTable.data">
          <td>已读未读</td>
          <td>发送者 OR 接受者</td>
          <td>邮件标题</td>
          <td>占用空间</td>
          <td>发送时间</td>
          <td>接收时间</td>
          <td>
            <button nz-button><i nz-icon type="eye" theme="outline"></i></button>
            <button nz-button><i nz-icon type="delete" theme="outline"></i></button>
          </td>
          <td></td>
        </tr>
      </tbody>
    </nz-table>
  </ng-container>
</div>


<app-dialog name="edenNeedPass" *ngIf="edenService.requestEnv" (nameChange)="edenService.requestEnv = false" [opt]="'MODEL.EDEN_NEED_PASS' | translate"></app-dialog>
<app-dialog [(name)]="edenDialogName" [opt]="edenDialogOpt"></app-dialog>
