@import "../../config.scss";
:host {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  flex: 0 12rem;
  display: flex;
  margin-bottom: 1rem;
  overflow: visible;
}

.table {
  flex: 1;
}
