<app-header></app-header>
<div class="choose" *ngIf="setting.appType === null; else main">
  <div (click)="setting.set('appType', 'gmail')">
    <div class="show">
      <img src="assets/img/choose-eden.png">
    </div>
    <div class="detail">
      <img src="assets/img/app-eden.png">
      <div>
        <span>Genaro Mail</span> v{{ setting.appVersion }}
      </div>
      <div>{{ "COMMON.CHOOSE_EDEN" | translate }}</div>
    </div>
  </div>
  <div (click)="setting.set('appType', 'eden')">
    <div class="show">
      <img src="assets/img/choose-eden.png">
    </div>
    <div class="detail">
      <img src="assets/img/app-eden.png">
      <div>
        <span>Genaro Eden</span> v{{ setting.appVersion }}
      </div>
      <div>{{ "COMMON.CHOOSE_EDEN" | translate }}</div>
    </div>
  </div>
  <div (click)="setting.set('appType', 'sharer')">
    <div class="show">
      <img src="assets/img/choose-sharer.png">
    </div>
    <div class="detail">
      <img src="assets/img/app-sharer.png">
      <div>
        <span>Genaro Sharer</span> v{{ setting.appVersion }}
      </div>
      <div>{{ "COMMON.CHOOSE_SHARER" | translate }}</div>
    </div>
  </div>
</div>
<ng-template #main>
  <div class="main">
    <nz-card class="sider" [nzBordered]="false">
      <app-siderbar></app-siderbar>
      <div class="icon">
        <ng-container *ngIf="setting.appType === 'gmail'">
          <img src="assets/img/app-eden.png">
          <div>Genaro Mail v{{ setting.appVersion }}</div>
        </ng-container>
        <ng-container *ngIf="setting.appType === 'eden'">
          <img src="assets/img/app-eden.png">
          <div>Genaro Eden v{{ setting.appVersion }}</div>
        </ng-container>
        <ng-container *ngIf="setting.appType === 'sharer'">
          <img src="assets/img/app-sharer.png">
          <div>Genaro Sharer v{{ setting.appVersion }}</div>
        </ng-container>
      </div>
    </nz-card>
    <div class="right">
      <router-outlet></router-outlet>
    </div>
  </div>
</ng-template>
<div class="check-lang" #checkLang>{{ 'LANGUAGE_NAME' | translate }}</div>
