@import "./config.scss";

.choose {
  margin: $border-blank;
  display: flex;
  height: calc(100vh - #{$header-height} - #{$border-blank} - #{$border-blank} - 1px);

  &>div {
    flex: 1;
    margin-right: $border-blank;
    height: 100%;
    background: $content-bg;
    border-radius: 1rem;
    box-shadow: $box-shadow;
    border: 2px solid $content-bg;
    transition: border .2s ease;

    &:hover {
      border-color: $theme-color;
      box-shadow: 0 0 1rem rgba(0, 0, 0, .3);
    }

    &:last-of-type {
      margin: 0;
    }

    .show {
      height: 80%;
      position: relative;

      img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 50%;
        height: auto;
      }
    }

    &>img {
      display: block;
      width: 50%;
      height: auto;
      margin: 5rem auto;
    }

    .detail {
      height: 64px;
      margin: -240px auto;
      text-align: center;
      position: relative;
      color: white;

      img {
        height: 100%;
        width: auto;
      }

      div {
        line-height: 32px;

        span {
          font-size: 1.2em;
          font-weight: bold;
        }
      }

      button {
        margin: 10px auto;
      }
    }

    &>.bg {
      filter: blur(2px);
      height: 100%;
      border-radius: 0.9rem;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      background-color: #c5c2c2;
      transition: filter .2s ease;

      &:hover {
        filter: blur(0px);
      }
    }

    &>.eden {
      background-image: url(assets/img/eden-bg.png);
    }

    &>.sharer {
      background-image: url(assets/img/sharer-bg.png);
    }

    &>.gmail {
      background-image: url(assets/img/gmail-bg.png);
    }

    &>.dapp {
      background-image: url(assets/img/dapp-bg.png);
    }
  }
}

.main {
  margin: $border-blank;
  display: flex;
  height: calc(100vh - #{$header-height} - #{$border-blank} - #{$border-blank} - 1px);

  &>* {
    &.sider {
      margin-right: $border-blank;
      border-radius: $border-radius;
      flex: 0 $left-menu-width;
      box-shadow: $box-shadow;
      position: relative;

      .icon {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 1rem;
        margin: 0;

        img {
          display: block;
          margin: 0 auto 0.5rem;
          width: 64px;
          height: auto;
        }

        div {
          text-align: center;
        }
      }

      ::ng-deep .ant-card-body {
        padding: $border-blank 0 0;
      }
    }

    &.right {
      flex: 1;

      ::ng-deep .ant-card-body {
        height: 100%;
        width: 100%;
      }
    }
  }
}

.check-lang {
  display: none;
}
