@import "./config.scss";
.choose {
  margin: $border-blank;
  display: flex;
  height: calc(100vh - #{$header-height} - #{$border-blank} - #{$border-blank} - 1px);
  &>div {
    flex: 1;
    margin-right: $border-blank;
    height: 100%;
    background: $content-bg;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    border: 2px solid $content-bg;
    cursor: pointer;
    &:hover {
      border-color: $theme-color;
      box-shadow: 0 0 1rem rgba(0, 0, 0, .3);
    }
    &:last-of-type {
      margin: 0;
    }
    .show {
      height: 80%;
      position: relative;
      img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 50%;
        height: auto;
      }
    }
    &>img {
      display: block;
      width: 50%;
      height: auto;
      margin: 5rem auto;
    }
    .detail {
      height: 64px;
      width: 20rem;
      margin: 0 auto;
      img {
        float: left;
        height: 100%;
        width: auto;
        margin-right: 2rem;
      }
      div {
        line-height: 32px;
        span {
          font-size: 1.2em;
          font-weight: bold;
        }
      }
    }
  }
}

.main {
  margin: $border-blank;
  display: flex;
  height: calc(100vh - #{$header-height} - #{$border-blank} - #{$border-blank} - 1px);
  &>* {
    &.sider {
      margin-right: $border-blank;
      border-radius: $border-radius;
      flex: 0 $left-menu-width;
      box-shadow: $box-shadow;
      position: relative;
      .icon {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 1rem;
        margin: 0;
        img {
          display: block;
          margin: 0 auto 0.5rem;
          width: 64px;
          height: auto;
        }
        div {
          text-align: center;
        }
      }
      ::ng-deep .ant-card-body {
        padding: $border-blank 0 0;
      }
    }
    &.right {
      flex: 1;
      ::ng-deep .ant-card-body {
        height: 100%;
        width: 100%;
      }
    }
  }
}

.check-lang {
  display: none;
}
