@import "./config.scss";
.main {
  margin: 1rem;
  display: flex;
  height: calc(100vh - #{$header-height} - #{$border-blank} - #{$border-blank} - 1px);
  &>* {
    margin: 0 $border-blank/2;
    &.sider {
      border-radius: $border-radius;
      flex: 0 $left-menu-width;
      box-shadow: $box-shadow;
      ::ng-deep .ant-card-body {
        padding: $border-blank 0 0;
      }
    }
    &.right {
      flex: 1;
      ::ng-deep .ant-card-body {
        height: 100%;
        width: 100%;
      }
    }
  }
}
