// 长度
$header-height: 4rem;
$border-blank: 1rem;
$left-menu-width: 15rem;
$icon-blank: 0.5rem;
$border-radius: 0.5rem;
$popup-width: 40rem;
$popup-height: 20rem;
$short-input: 18rem;
// 颜色
$content-bg: #FFF;
$second-bg: #F6F7F9;
$border-line: 1px solid #CCC;
$popup-bg: rgba(0, 0, 0, .5);
$theme-color: #409EFF;
$link-color: $theme-color;
$box-shadow: 0 0 1rem rgba(0, 0, 0, .1);
$success-color: rgb(25, 150, 50);
$warn-color: rgb(250, 200, 25);
$error-color: rgb(200, 50, 25);



.right-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: $content-bg;
  box-shadow: $box-shadow;
  border-radius: $border-radius;
  position: relative;
}


.ant-table-thead>tr>th {
  background-color: #FFF;
}

.genaro-question-button {
  width: 16px;
  height: 16px;
  top: 4px;
  background-image: url('assets/img/question_circle_grey.svg');

  &:hover {
    background-image: url('assets/img/question_circle_blue.svg');
  }
}

.attention {
  color: $error-color;
}
