// 长度
$header-height: 4rem;
$border-blank: 1rem;
$left-menu-width: 15rem;
$icon-blank: 0.5rem;
$border-radius: 0.5rem;
$popup-width: 40rem;
$popup-height: 20rem;
$short-input: 18rem;
// 颜色
$content-bg: #FFF;
$second-bg: #F6F7F9;
$border-line: 1px solid #CCC;
$popup-bg: rgba(0, 0, 0, .5);
$theme-color: #409EFF;
$link-color: $theme-color;
$box-shadow: 0 0 1rem rgba(0, 0, 0, .1);
// 弹出框
.popup-style {
  width: 40rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
