<div class="header">
  <div class="card">
    {{ (walletService.balances[walletService.wallets.current] || 0 ) | gnxUnit | shortGNX}}
    <span>GNX</span>
  </div>
  <div class="info">
    <img [src]="('avatar://' + walletService.wallets.current) | safe">
    <div class="name"> {{ (walletService.currentWallet | async)?.name }}
      <nz-dropdown nzPlacement="bottomRight" nzTrigger="click">
        <a nz-dropdown>
          {{ 'WALLET.CONFIG' | translate }}
          <i nz-icon type="down" theme="outline"></i>
        </a>
        <ul nz-menu>
          <li nz-menu-item (click)="dialogName='walletChangeName'">
            <a>{{ "WALLET.CHANGE_NAME" | translate}}</a>
          </li>
          <li nz-menu-item (click)="dialogName='walletChangePassword'">
            <a>{{ "WALLET.CHANGE_PASSWORD" | translate}}</a>
          </li>
          <li nz-menu-item (click)="dialogName='walletExportJson'">
            <a>{{ "WALLET.EXPORT_JSON" | translate}}</a>
          </li>
          <li nz-menu-item (click)="dialogName='walletDelete'">
            <a>{{ "WALLET.DELETE_WALLET" | translate}}</a>
          </li>
        </ul>
      </nz-dropdown>
    </div>
    <div class="address">
      {{ walletService.wallets.current | longAddr | shortAddr}}
      <app-copy [data]="walletService.wallets.current | longAddr"></app-copy>
    </div>
    <div class="operations">
      <button nz-button nz-popover nzTrigger="click" nzType="primary" nzSize="large" nzPlacement="bottomRight"
        [nzContent]="popoverReceive">
        {{ "WALLET.RECEIVE_COIN" | translate}}
      </button>
      <button nz-button nz-popover nzTrigger="click" nzType="primary" nzSize="large" nzPlacement="bottomLeft"
        [nzContent]="popoverSend" [(nzVisible)]="popoverSendVisible">
        {{ "WALLET.SEND_COIN" | translate}}
      </button>
      <!-- QRCODE -->
      <ng-template #popoverReceive>
        <div class="popover-receive">
          <div>{{ walletService.wallets.current | longAddr }}</div>
          <img [src]="('qrcode://gnx:' + (walletService.wallets.current | longAddr)) | safe">
        </div>
      </ng-template>
      <!-- Send Coin -->
      <ng-template #popoverSend>
        <app-form name="sendTx" (submit)="popoverSendVisible = false"></app-form>
      </ng-template>
    </div>
  </div>
</div>

<!-- Transactions -->
<app-table name="transaction" [opt]="popoverSendVisible"></app-table>
<app-dialog [(name)]="dialogName"></app-dialog>
