@import "../../config.scss";
:host {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  flex: 0 0 12rem;
  display: flex;
  margin-bottom: 1rem;
  overflow: visible;
  .card {
    flex: 0 26rem;
    margin-right: 1rem;
    background: lightblue;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    line-height: 16rem;
    padding-left: 2rem;
    font-size: 3rem;
    color: white;
    span {
      font-size: 1rem;
    }
  }
  .info {
    $img-size: 6rem;
    background: $content-bg;
    padding: 1rem;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    flex: 0 26rem;
    position: relative;
    padding-left: $img-size + 2rem;
    img {
      height: $img-size;
      width: $img-size;
      position: absolute;
      left: 1rem;
    }
    .name {
      line-height: 3rem;
      font-size: 1rem;
      padding-right: 1rem;
      nz-dropdown {
        float: right;
      }
    }
    .address {
      line-height: 2rem;
      font-size: 1rem;
      padding-right: 1rem;
      i {
        float: right;
        line-height: inherit;
        cursor: pointer;
      }
    }
    .operations {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 1rem;
      display: flex;
      &>* {
        flex: 1;
        margin: 0 2rem;
        text-align: center;
      }
    }
  }
}

.table {
  flex: 1;
  border-radius: $border-radius;
  background: $content-bg;
  box-shadow: $box-shadow;
  margin: 0;
  overflow: hidden;
}

.popover-receive {
  div {
    padding: 0 0.5rem;
    height: 2rem;
    line-height: 2rem;
    border-radius: $border-radius;
    background: $second-bg;
  }
  img {
    margin: 0 auto;
    display: block;
  }
}
