@import "../../config.scss";
nz-card {
  height: 100%;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  overflow: hidden;
}

:host ::ng-deep .ant-card-body {
  padding: 0;
  padding-left: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto;
}
