@import "../../config.scss";
nz-card {
  border-radius: $border-radius;
  height: 100%;
}

nz-switch {
  float: right;
}

.text-gray {
  color: grey;
}

.text-green {
  color: green;
}

.text-red {
  color: red;
}

.text-yellow {
  color: yellow;
}

.text-orange {
  color: orange;
}

.hidden-col-btn {
  margin-bottom: 20px;
  float: right;
  z-index: 999;
  position: relative;
}

.add-drive-btn {
  margin-bottom: 20px;
  float: left;
  z-index: 999;
  position: relative;
}
