@import "../../config.scss";
nz-card {
  border-radius: $border-radius;
  height: 100%;
}

nz-switch {
  float: right;
}

.text-gray {
  color: grey;
}

.text-green {
  color: green;
}

.text-red {
  color: red;
}

.text-yellow {
  color: yellow;
}

.text-orange {
  color: orange;
}

.hidden-col-btn {
  float: right;
  position: relative;
}

.add-drive-btn {
  float: left;
  position: relative;
}

.input-style {
  width: 240px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.layout-header {
  height: 48px;
}
