<nz-card [nzBordered]="false">
  <nz-modal [(nzVisible)]="modalVisible" nzTitle="{{modalTitle | translate}}" (nzOnOk)="handleOk()" (nzOnCancel)="modalVisible=false">
    <p>{{modalMessage | translate}}</p>
  </nz-modal>
  <nz-modal nzTitle="{{ 'DRIVE.GET_BIND_TOKEN' | translate }}" [nzVisible]="bindModalVisible" (nzOnCancel)="bindModalVisible=false"
    (nzOnOk)="getBindToken()">
    <ng-container *ngIf="bindTokenStep===0">
      <input nz-input nzSize="large" placeholder="{{ 'DRIVE.ADDRESS' | translate }}" [(ngModel)]="bindNodeAddress">
    </ng-container>
    <ng-container *ngIf="bindTokenStep===1">
        Token: <span>{{bindToken}}<app-copy [data]="bindToken"></app-copy></span>
    </ng-container>
  </nz-modal>
  <div class="layout-header">
    <h3>{{ 'DRIVE.MY_DRIVES' | translate }}</h3>
    <div class="hidden-col-btn">
      <button nz-button nzType="primary" nz-popover [(nzVisible)]="hiddenVisible" nzTrigger="click" [nzContent]="colTemplate" nzPlacement="bottom">
        {{ "DRIVE.HIDDEN_COL" | translate}}
      </button>
      <ng-template #colTemplate>
        <!-- <div>
            <label>{{ "DRIVE.NODE" | translate}}</label>
            <nz-switch [(ngModel)]="tableOpt.nodeColShow" nzSize="small"></nz-switch>
          </div>
          <div>
            <label>{{ "DRIVE.STATUS" | translate}}</label>
            <nz-switch [(ngModel)]="tableOpt.statusColShow" nzSize="small"></nz-switch>
          </div> -->
        <div>
          <label>{{ "DRIVE.ADDRESS" | translate}}</label>
          <nz-switch [(ngModel)]="sharer.tableOpt.addressColShow" nzSize="small"></nz-switch>
        </div>
        <div>
          <label>{{ "DRIVE.UPTIME" | translate}}</label>
          <nz-switch [(ngModel)]="sharer.tableOpt.uptimeColShow" nzSize="small"></nz-switch>
        </div>
        <div>
          <label>{{ "DRIVE.RESTARTS" | translate}}</label>
          <nz-switch [(ngModel)]="sharer.tableOpt.restartsColShow" nzSize="small"></nz-switch>
        </div>
        <div>
          <label>{{ "DRIVE.PEERS" | translate}}</label>
          <nz-switch [(ngModel)]="sharer.tableOpt.peersColShow" nzSize="small"></nz-switch>
        </div>
        <div>
          <label>{{ "DRIVE.ALLOCS" | translate}}</label>
          <nz-switch [(ngModel)]="sharer.tableOpt.allocsColShow" nzSize="small"></nz-switch>
        </div>
        <div>
          <label>{{ "DRIVE.DELTA" | translate}}</label>
          <nz-switch [(ngModel)]="sharer.tableOpt.deltaColShow" nzSize="small"></nz-switch>
        </div>
        <div>
          <label>{{ "DRIVE.PORT" | translate}}</label>
          <nz-switch [(ngModel)]="sharer.tableOpt.portColShow" nzSize="small"></nz-switch>
        </div>
        <div>
          <label>{{ "DRIVE.SHARED" | translate}}</label>
          <nz-switch [(ngModel)]="sharer.tableOpt.sharedColShow" nzSize="small"></nz-switch>
        </div>
        <div>
          <label>{{ "DRIVE.BRIDGES" | translate}}</label>
          <nz-switch [(ngModel)]="sharer.tableOpt.bridgesColShow" nzSize="small"></nz-switch>
        </div>
      </ng-template>
    </div>
    <div class="add-drive-btn">
      <button nz-button nzType="primary" nz-popover [(nzVisible)]="visible" nzTrigger="click" [nzContent]="contentTemplate" nzPlacement="bottomLeft">
        {{ "DRIVE.ADD_DRIVE" | translate}}
      </button>
      <ng-template #contentTemplate>
        <div>
          <h3>{{ "DRIVE.DRIVE_LOCATION" | translate}}</h3>
          <p class="input-style" (click)="selectFile()">
            <span>{{addShareFilePath || ("DRIVE.SELECT_SHARDING" | translate)}}</span>
          </p>
          <h3 style="margin-top:20px">{{ "DRIVE.SHARING_SIZE" | translate }}</h3>
          <div>
            <nz-input-group [nzAddOnAfter]="addOnAfterTemplate">
              <input type="text" placeholder="{{ 'DRIVE.SHARING_SIZE_PLACEHOLDER' | translate }}" nz-input [(ngModel)]="addShareShareSize">
            </nz-input-group>
            <ng-template #addOnAfterTemplate>
              <nz-select [ngModel]="addShareSelectUnit">
                <nz-option [nzLabel]="'GB'" [nzValue]="'GB'"></nz-option>
                <nz-option [nzLabel]="'TB'" [nzValue]="'TB'"></nz-option>
              </nz-select>
            </ng-template>
          </div>
          <div style="margin-top: 40px; text-align: right;">
            <button nz-button nzType="primary" (click)="addShare()">{{ "COMMON.CONFIRM" | translate }}</button>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
  <app-table name="sharer" [opt]="sharer.tableOpt" (action)="tableAction($event)"></app-table>
</nz-card>
