@import "../../config.scss";
:host {
  flex: 1;
  box-shadow: $box-shadow;
  overflow: hidden;
  border-radius: $border-radius;
  background: $content-bg;
}

nz-card {
    height: 100%;
    border-radius: $border-radius;

    .header {
        font-size: 1rem;
        font-weight: bold;
        position: absolute;
        top: 12px;
        left: 12px;

        span {
            font-size: 0.8rem;
            font-weight: normal;
        }
    }

    app-table {
        width: 100%;
        height: calc(100% - 62px);
        position: absolute;
        left: 0;
        right: 0;
        margin-top: 40px;
        box-shadow: initial;
        padding-left: 1rem;
    }
}