<!-- rank -->
<div *ngIf="name==='rank'" class="panel">
    <div class="header">{{ 'PANEL.RANK.MY_TEAM' | translate }}</div>
    <form nz-form class="ant-advanced-search-form">
        <div nz-row [nzGutter]="24">
            <div nz-col [nzSpan]="6">
                <nz-form-item nzFlex>
                    <nz-form-label><i class="rank-icon"></i>{{ 'PANEL.RANK.RANK' | translate }}</nz-form-label>
                    <nz-form-control>
                        <nz-form-text>
                            {{ accountTeamInfo.order + 1 || '300+' }}
                        </nz-form-text>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col [nzSpan]="6">
                <nz-form-item nzFlex>
                    <nz-form-label><i class="team-icon"></i>{{ 'PANEL.RANK.TEAM_NAME' | translate }}</nz-form-label>
                    <nz-form-control>
                        <nz-form-text>
                            {{ accountTeamInfo.nickName }}
                        </nz-form-text>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col [nzSpan]="6">
                <nz-form-item nzFlex>
                    <nz-form-label><i class="sentinel-icon"></i>{{ 'PANEL.RANK.SENTINEL_SCORE' | translate }}</nz-form-label>
                    <nz-form-control>
                        <nz-form-text>
                            {{ accountTeamInfo.sentinel * 10000 | formatSentinel }}
                        </nz-form-text>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col [nzSpan]="6">
                <nz-form-item nzFlex>
                    <nz-form-control>
                        <button style="width: 120px" nz-button [nzType]="'primary'" (click)="showCurrentTeam=!showCurrentTeam;">{{ 'PANEL.RANK.VIEW_MEMBER' | translate }}</button>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col [nzSpan]="6">
                <nz-form-item nzFlex>
                    <nz-form-label>{{ 'PANEL.RANK.GNX_STAKE' | translate }}</nz-form-label>
                    <nz-form-control>
                        <nz-form-text>
                            {{ accountTeamInfo.stake }}
                        </nz-form-text>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col [nzSpan]="6">
                <nz-form-item nzFlex>
                    <nz-form-label>{{ 'PANEL.RANK.SPACE_USED' | translate }}</nz-form-label>
                    <nz-form-control>
                        <nz-form-text>
                            {{ accountTeamInfo.data_size }}
                        </nz-form-text>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col [nzSpan]="6">
                <nz-form-item nzFlex>
                    <nz-form-label>{{ 'PANEL.RANK.MEMBER_COUNT' | translate }}</nz-form-label>
                    <nz-form-control>
                        <nz-form-text>
                            {{ (accountTeamInfo.subAccounts || []).length }} / 10
                        </nz-form-text>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
    </form>
    <nz-table *ngIf="showCurrentTeam" #currentTeamTable [nzData]="accountTeamInfo.subAccounts" nzShowPagination="false" [nzPageSize]="31"
        class="tx" [nzScroll]='{ y: "240px"}'>
        <thead>
            <tr>
                <!-- <th nzWidth="15%">{{ 'TABLE.COMMITTEE.NAME' | translate }}</th> -->
                <th nzWidth="45%">{{ 'TABLE.COMMITTEE.ADDRESS' | translate }}</th>
                <th nzWidth="15%">{{ 'TABLE.COMMITTEE.STAKE' | translate }}</th>
                <th nzWidth="20%">{{ 'TABLE.COMMITTEE.SPACE' | translate }}</th>
                <th nzWidth="20%">{{ 'TABLE.COMMITTEE.SENTINEL' | translate }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of currentTeamTable.data">
                <!-- <td nzWidth="15%">{{data.nickName}}</td> -->
                <td nzWidth="45%">{{data.address | longAddr | shortAddr}}</td>
                <td nzWidth="15%">{{data.stake}}</td>
                <td nzWidth="20%">{{data.data_size}}</td>
                <td nzWidth="20%">{{data.sentinel * 10000 | formatSentinel }}</td>
            </tr>
        </tbody>
    </nz-table>
</div>

<!-- committee -->
<div *ngIf="name==='committee'" class="panel">
    <div class="header">{{ 'PANEL.RANK.MY_TEAM' | translate }}</div>
    <form nz-form class="ant-advanced-search-form">
        <div nz-row [nzGutter]="24">
            <div nz-col [nzSpan]="6">
                <nz-form-item nzFlex>
                    <nz-form-label><i class="rank-icon"></i>{{ 'PANEL.RANK.RANK' | translate }}</nz-form-label>
                    <nz-form-control>
                        <nz-form-text>
                            {{ paddingTeamInfo.order + 1 || '300+' }}
                        </nz-form-text>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col [nzSpan]="6">
                <nz-form-item nzFlex>
                    <nz-form-label><i class="team-icon"></i>{{ 'PANEL.RANK.TEAM_NAME' | translate }}</nz-form-label>
                    <nz-form-control>
                        <nz-form-text>
                            {{ paddingTeamInfo.nickName }}
                        </nz-form-text>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col [nzSpan]="6">
                <nz-form-item nzFlex>
                    <nz-form-label><i class="sentinel-icon"></i>{{ 'PANEL.RANK.SENTINEL_SCORE' | translate }}</nz-form-label>
                    <nz-form-control>
                        <nz-form-text>
                            {{ paddingTeamInfo.sentinel * 10000 | formatSentinel }}
                        </nz-form-text>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col [nzSpan]="6">
                <nz-form-item nzFlex>
                    <nz-form-control>
                        <button style="width: 120px" nz-button [nzType]="'primary'" (click)="showApplyTeam=false;showPaddingTeam=!showPaddingTeam;">{{ 'PANEL.RANK.VIEW_MEMBER' | translate }}</button>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col [nzSpan]="6">
                <nz-form-item nzFlex>
                    <nz-form-label>{{ 'PANEL.RANK.GNX_STAKE' | translate }}</nz-form-label>
                    <nz-form-control>
                        <nz-form-text>
                            {{ paddingTeamInfo.stake }}
                        </nz-form-text>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col [nzSpan]="6">
                <nz-form-item nzFlex>
                    <nz-form-label>{{ 'PANEL.RANK.SPACE_USED' | translate }}</nz-form-label>
                    <nz-form-control>
                        <nz-form-text>
                            {{ paddingTeamInfo.data_size }}
                        </nz-form-text>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col [nzSpan]="6">
                <nz-form-item nzFlex>
                    <nz-form-label>{{ 'PANEL.RANK.MEMBER_COUNT' | translate }}</nz-form-label>
                    <nz-form-control>
                        <nz-form-text>
                            {{ (accountTeamInfo.subAccounts || []).length }} / 10
                        </nz-form-text>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col [nzSpan]="6">
                <nz-form-item nzFlex>
                    <nz-form-control>
                        <nz-badge nzDot *ngIf="hasTempSubAccount">
                            <button style="width: 120px" nz-button [nzType]="'primary'" (click)="showPaddingTeam=false;showApplyTeam=!showApplyTeam;">{{ 'PANEL.RANK.APPLICATION_RECORD' | translate }}</button>
                        </nz-badge>
                        <button *ngIf="!hasTempSubAccount" style="width: 120px" nz-button [nzType]="'primary'" (click)="showPaddingTeam=false;showApplyTeam=!showApplyTeam;">{{ 'PANEL.RANK.APPLICATION_RECORD' | translate }}</button>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
    </form>
    <nz-table *ngIf="showPaddingTeam" #paddingTeamTable [nzData]="paddingTeamInfo.subAccounts" nzShowPagination="false" [nzPageSize]="31"
        class="tx" [nzScroll]='{ y: "240px"}'>
        <thead>
            <tr>
                <th nzWidth="40%">{{ 'TABLE.COMMITTEE.ADDRESS' | translate }}</th>
                <th nzWidth="20%">{{ 'TABLE.COMMITTEE.STAKE' | translate }}</th>
                <th nzWidth="20%">{{ 'TABLE.COMMITTEE.SPACE' | translate }}</th>
                <th nzWidth="20%">{{ 'TABLE.COMMITTEE.SENTINEL' | translate }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of paddingTeamTable.data">
                <td nzWidth="40%">{{data.address | longAddr | shortAddr}}</td>
                <td nzWidth="20%">{{data.stake}}</td>
                <td nzWidth="20%">{{data.data_size}}</td>
                <td nzWidth="20%">{{data.sentinel * 10000 | formatSentinel }}</td>
            </tr>
        </tbody>
    </nz-table>

    <nz-table *ngIf="showApplyTeam" #applyTeamTable [nzData]="paddingTeamInfo.tempAccounts" nzShowPagination="false" [nzPageSize]="31"
        class="tx" [nzScroll]='{ y: "240px"}'>
        <thead>
            <tr>
                <th nzWidth="30%">{{ 'TABLE.COMMITTEE.ADDRESS' | translate }}</th>
                <th nzWidth="20%">{{ 'TABLE.COMMITTEE.STAKE' | translate }}</th>
                <th nzWidth="20%">{{ 'TABLE.COMMITTEE.SPACE' | translate }}</th>
                <th nzWidth="15%">{{ 'TABLE.COMMITTEE.SENTINEL' | translate }}</th>
                <th nzWidth="15%">{{ 'TABLE.COMMITTEE.AGREE' | translate }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of applyTeamTable.data">
                <td nzWidth="30%">{{data.address | longAddr | shortAddr}}</td>
                <td nzWidth="20%">{{data.stake}}</td>
                <td nzWidth="20%">{{data.data_size}}</td>
                <td nzWidth="15%">{{data.sentinel * 10000 | formatSentinel }}</td>
                <td nzWidth="15%">
                    <button nz-button nzType="primary" nzSize="small" [disabled]="data.flag" (click)="action.emit(['agree',data])">{{ 'TABLE.COMMITTEE.AGREE' | translate }}</button>
                </td>
            </tr>
        </tbody>
    </nz-table>
</div>