@import "../../config.scss";
.sendTx {
  width: 20rem;
  .anticon {
    line-height: 40px;
    cursor: pointer;
  }
}

.stake {
  .preview {
    margin-bottom: 1rem;
  }
}

.bind-node {
  width: 22rem;
}
