@import "../../config.scss";
.sendTx {
  width: 20rem;
  .anticon {
    line-height: 40px;
    cursor: pointer;
  }
}

.stake {
  max-width: 30rem;
}

.bind-node {
  width: 22rem;
}

.anticon-check-circle {
  font-size: 5rem;
  margin: 1rem 2rem;
  color: $success-color;
}

.tip {
  width: 20rem;
}
