<!-- 发送交易 -->
<div *ngIf="name==='sendTx'" class="sendTx">
  <ng-container *ngIf="sendTxStep===0">
    <app-input (submit)="submitSendTx()" name="addressTo" [(ipt)]="sendTxAddress"></app-input>
    <app-input (submit)="submitSendTx()" name="amount" [(ipt)]="sendTxAmount"></app-input>
    <app-input (submit)="submitSendTx()" name="gas" [(ipt)]="sendTxGas"></app-input>
  </ng-container>
  <ng-container *ngIf="sendTxStep===1">
    <app-input (submit)="submitSendTx()" name="password" [(ipt)]="sendTxPassword"></app-input>
  </ng-container>
  <app-input *ngIf="sendTxStep===0" name="confirm" (click)="sendTxStep=1" ipt="COMMON.NEXT"></app-input>
  <app-input *ngIf="sendTxStep===1" name="confirm" (click)="submitSendTx()"></app-input>
</div>


<!-- 压注 -->
<ng-container *ngIf="name==='stake'">
  <nz-tabset *ngIf="stakeStep===0" [(nzSelectedIndex)]="stakeType" class="stake">
    <nz-tab nzTitle="{{ 'TXSHARER.STAKE' | translate }}">
      <app-input (submit)="stakeConfirm()" name="stake" [(ipt)]="stakeGNX" [span]="[6,14]"></app-input>
      <app-input (submit)="stakeConfirm()" name="gas" [(ipt)]="stakeGas" [span]="[6,14]"></app-input>
      <app-input (submit)="stakeConfirm()" name="text" [ipt]="('TXSHARER.MAX_STAKE_NODE' | translate) + ' ' +  (stakeGNX | maxNode)"></app-input>
      <app-input (submit)="stakeConfirm()" name="password" [(ipt)]="stakePassword" [span]="[6,14]"></app-input>
      <app-input name="confirm" (iptChange)="stakeConfirm()" [span]="[6,14]"></app-input>
    </nz-tab>
    <nz-tab nzTitle="{{ 'TXSHARER.UNSTAKE' | translate }}">
      <app-input [span]="[2,20]" *ngIf="stakeUnstakable===-1" name="text" [ipt]="'TXSHARER.UNSTAKE_TIP_DISABLED' | translate"></app-input>
      <ng-container *ngIf="stakeUnstakable===0">
        <app-input [span]="[2,20]" name="text" [ipt]="'TXSHARER.UNSTAKE_TIP_ENABLED' | translate"></app-input>
        <app-input [span]="[2,20]" name="confirm" (iptChange)="stakeUnstakable=1"></app-input>
      </ng-container>
      <ng-container *ngIf="stakeUnstakable===1">
        <app-input (submit)="stakeConfirm()" name="gas" [(ipt)]="stakeGas" [span]="[6,14]"></app-input>
        <app-input (submit)="stakeConfirm()" name="password" [(ipt)]="stakePassword" [span]="[6,14]"></app-input>
        <app-input name="confirm" (iptChange)="stakeConfirm()" [span]="[6,14]"></app-input>
      </ng-container>
    </nz-tab>
  </nz-tabset>
  <div *ngIf="stakeStep===1">
    <i class="anticon anticon-check-circle"></i>
  </div>
</ng-container>

<!-- 绑定节点 -->
<ng-container *ngIf="name==='bindNode'">
  <div *ngIf="bindNodeStep===0 && !bindNodeTokenFlg" class="bind-node">
    <app-input (submit)="bindNodeConfirm()" name="bindNode" [(ipt)]="bindNodeId" [iptExtra]="selectBindNodes" [span]="[6,18]"
      (iptChange)="setNodeId()"></app-input>
    <app-input (submit)="bindNodeConfirm()" name="gas" [(ipt)]="bindNodeGas" [span]="[6,18]"></app-input>
    <app-input (submit)="bindNodeConfirm()" name="password" [(ipt)]="bindNodePassword" [span]="[6,18]"></app-input>
    <app-input name="confirm" (iptChange)="bindNodeConfirm()"></app-input>
  </div>
  <div *ngIf="bindNodeStep===0 && bindNodeTokenFlg" class="bind-node">
    <app-input (submit)="bindNodeConfirm()" name="bindNodeToken" [(ipt)]="bindNodeToken" [span]="[6,18]"></app-input>
    <app-input (submit)="bindNodeConfirm()" name="gas" [(ipt)]="bindNodeGas" [span]="[6,18]"></app-input>
    <app-input (submit)="bindNodeConfirm()" name="password" [(ipt)]="bindNodePassword" [span]="[6,18]"></app-input>
    <app-input name="confirm" (iptChange)="bindNodeConfirm()"></app-input>
  </div>
  <div *ngIf="bindNodeStep===1">
    <i class="anticon anticon-check-circle"></i>
  </div>
</ng-container>

<!-- 解绑节点 -->
<ng-container *ngIf="name==='removeNode'">
  <div *ngIf="removeNodeStep===0" class="bind-node">
    <div class="tip remove-tip">{{ 'TABLE.TXSHARER.REMOVE_NODE_TIPS' | translate }}</div>
    <app-input name="confirm" (iptChange)="removeNodeTipConfirm()"></app-input>
  </div>
  <div *ngIf="removeNodeStep===1" class="bind-node">
    <app-input (submit)="removeNodeConfirm()" name="gas" [(ipt)]="removeNodeGas" [span]="[6,14]"></app-input>
    <app-input (submit)="removeNodeConfirm()" name="password" [(ipt)]="removeNodePassword" [span]="[6,14]"></app-input>
    <app-input name="confirm" (iptChange)="removeNodeConfirm()" [span]="[6,14]"></app-input>
  </div>
  <div *ngIf="removeNodeStep===2">
    <i class="anticon anticon-check-circle"></i>
  </div>
</ng-container>
