<!-- 更改钱包名 -->
<nz-modal nzTitle="{{ 'MODEL.WALLET_CHANGE_NAME' | translate }}" [nzVisible]="dialogName==='walletChangeName'" (nzOnCancel)="dialogNameChange.emit(null)"
  (nzOnOk)="dialogDone()">
  <input nz-input nzSize="large" placeholder="{{ 'MODEL.WALLET_CHANGE_NAME_PLACEHOLDER' | translate }}" [(ngModel)]="walletChangeName">
</nz-modal>

<!-- 更改钱包密码 -->
<nz-modal nzTitle="{{ 'MODEL.WALLET_CHANGE_PASSWORD' | translate }}" [nzVisible]="dialogName==='walletChangePassword'" (nzOnCancel)="dialogNameChange.emit(null)"
  (nzOnOk)="dialogDone()">
  <input nz-input type="password" nzSize="large" placeholder="{{ 'MODEL.WALLET_CHANGE_PASSWORD_PLACEHOLDER_OLD' | translate }}"
    [(ngModel)]="walletChangePassword.old">
  <br/>
  <br/>
  <input nz-input type="password" nzSize="large" placeholder="{{ 'MODEL.WALLET_CHANGE_PASSWORD_PLACEHOLDER' | translate }}"
    [(ngModel)]="walletChangePassword.new">
  <br/>
  <br/>
  <input nz-input type="password" nzSize="large" placeholder="{{ 'MODEL.WALLET_CHANGE_PASSWORD_PLACEHOLDER_REPEAT' | translate }}"
    [(ngModel)]="walletChangePassword.repeat">
  <br/>
  <br/>
  <span *ngIf="false">{{ 'MODEL.FORGET_PASSWORD_TIPS' | translate }}<a (click)="forgetPassword()">{{ 'MODEL.IMPORT_MNEMONIC_NOW' | translate }}</a></span>
</nz-modal>

<!-- 导出 JSON -->
<nz-modal nzTitle="{{ 'MODEL.WALLET_EXPORT_JSON' | translate }}" [nzVisible]="dialogName==='walletExportJson'" (nzOnCancel)="dialogNameChange.emit(null)"
  (nzOnOk)="dialogDone()">
  <input nz-input type="password" nzSize="large" placeholder="{{ 'MODEL.WALLET_CHANGE_PASSWORD_PLACEHOLDER_OLD' | translate }}"
    [(ngModel)]="walletExportJson">
</nz-modal>

<!-- 删除钱包 -->
<nz-modal nzTitle="{{ 'MODEL.WALLET_DELETE' | translate }}" [nzVisible]="dialogName==='walletDelete'" (nzOnCancel)="dialogNameChange.emit(null)"
  (nzOnOk)="dialogDone()">
  <input nz-input type="password" nzSize="large" placeholder="{{ 'MODEL.WALLET_CHANGE_PASSWORD_PLACEHOLDER_OLD' | translate }}"
    [(ngModel)]="walletDelete">
</nz-modal>

<!-- 购买空间 -->
<nz-modal [nzVisible]="dialogName==='buySpace'" (nzOnCancel)="dialogNameChange.emit(null)" [nzMaskClosable]="false" [nzTitle]="'TXEDEN.BUY_SPACE' | translate"
  [nzFooter]="buySpaceFooter" class="buy-space">
  <ng-container *ngIf="buySpaceStep===0">
    <app-input name="spaceRange" [(ipt)]="buySpaceRangeParams" (iptChange)="buySpaceRange=$event[0]*$event[1];"></app-input>
    <app-input name="spaceLimit" [(ipt)]="buySpaceLimitParams" (iptChange)="buySpaceLimit=$event[0]*$event[1];"></app-input>
    <app-input name="gas" [(ipt)]="buySpaceGas"></app-input>
  </ng-container>
  <ng-container *ngIf="buySpaceStep===1">
    <div nz-row class="review">
      <div nz-col nzSpan="6" class="label">{{ 'INPUT.SPACE_RANGE' | translate }}{{ 'COMMON.COLON' | translate }}</div>
      <div nz-col nzSpan="18">{{ buySpaceRange }}GB</div>
    </div>
    <div nz-row class="review">
      <div nz-col nzSpan="6" class="label">{{ 'INPUT.SPACE_LIMIT' | translate }}{{ 'COMMON.COLON' | translate }}</div>
      <div nz-col nzSpan="18">{{ buySpaceLimit/30 }}{{ 'COMMON.MONTH(S)' | translate }}</div>
    </div>
    <div nz-row class="review">
      <div nz-col nzSpan="6" class="label">{{ 'TXEDEN.BUY_PREVIEW_PRICE' | translate }}{{ 'COMMON.COLON' | translate }}</div>
      <div nz-col nzSpan="18">{{ (buySpaceRange*buySpaceLimit*SPACE_UNIT_PRICE).toFixed(2) }} GNX</div>
    </div>
    <app-input name="password" [(ipt)]="buySpacePassword"></app-input>
  </ng-container>
  <ng-container *ngIf="buySpaceStep===2">
    <i class="anticon anticon-check-circle"></i>
  </ng-container>
</nz-modal>
<ng-template #buySpaceFooter>
  <ng-container *ngIf="buySpaceStep===0">
    <span>{{ 'TXEDEN.BUY_PREVIEW_PRICE' | translate }} {{ (buySpaceRange*buySpaceLimit*SPACE_UNIT_PRICE).toFixed(2) }} GNX</span>
    <button nz-button nzSize="large" nzType="primary" (click)="buySpaceStep=buySpaceStep+1">{{ 'COMMON.NEXT' | translate }}</button>
  </ng-container>
  <ng-container *ngIf="buySpaceStep===1">
    <button nz-button nzSize="large" nzType="primary" (click)="buySpaceStep=buySpaceStep-1">{{ 'COMMON.PREV' | translate }}</button>
    <button nz-button nzSize="large" nzType="primary" (click)="buySpaceSubmit()">{{ 'COMMON.BUY_NOW' | translate }}</button>
  </ng-container>
  <ng-container *ngIf="buySpaceStep===2">
    <button nz-button nzSize="large" nzType="primary" (click)="dialogNameChange.emit(null)">{{ 'COMMON.DONE' | translate }}</button>
  </ng-container>
</ng-template>

<!-- 购买流量 -->
<nz-modal [nzVisible]="dialogName==='buyTraffic'" (nzOnCancel)="dialogNameChange.emit(null)" [nzMaskClosable]="false" [nzTitle]="'TXEDEN.BUY_TRAFFIC' | translate"
  [nzFooter]="buyTrafficFooter" class="buy-traffic">
  <ng-container *ngIf="buyTrafficStep===0">
    <app-input name="traffic" [(ipt)]="buyTrafficParams" (iptChange)="buyTraffic=$event[0]*$event[1]"></app-input>
    <app-input name="gas" [(ipt)]="buyTrafficGas"></app-input>
  </ng-container>
  <ng-container *ngIf="buyTrafficStep===1">
    <div nz-row class="review">
      <div nz-col nzSpan="6" class="label">{{ 'INPUT.TRAFFIC' | translate }}{{ 'COMMON.COLON' | translate }}</div>
      <div nz-col nzSpan="18">{{ buyTraffic }}GB</div>
    </div>
    <div nz-row class="review">
      <div nz-col nzSpan="6" class="label">{{ 'TXEDEN.BUY_PREVIEW_PRICE' | translate }}{{ 'COMMON.COLON' | translate }}</div>
      <div nz-col nzSpan="18">{{ (buyTraffic*TRAFFIC_UNIT_PRICE).toFixed(2) }} GNX</div>
    </div>
    <app-input name="password" [(ipt)]="buyTrafficPassword"></app-input>
  </ng-container>
  <ng-container *ngIf="buyTrafficStep===2">
    <i class="anticon anticon-check-circle"></i>
  </ng-container>
</nz-modal>
<ng-template #buyTrafficFooter class="btfooter">
  <ng-container *ngIf="buyTrafficStep===0">
    <span>{{ 'TXEDEN.BUY_PREVIEW_PRICE' | translate }} {{ (buyTraffic*TRAFFIC_UNIT_PRICE).toFixed(2) }} GNX</span>
    <button nz-button nzSize="large" nzType="primary" (click)="buyTrafficStep=buyTrafficStep+1">{{ 'COMMON.NEXT' | translate }}</button>
  </ng-container>
  <ng-container *ngIf="buyTrafficStep===1">
    <button nz-button nzSize="large" nzType="primary" (click)="buyTrafficStep=buyTrafficStep-1">{{ 'COMMON.PREV' | translate }}</button>
    <button nz-button nzSize="large" nzType="primary" (click)="buyTrafficSubmit()">{{ 'COMMON.BUY_NOW' | translate }}</button>
  </ng-container>
  <ng-container *ngIf="buyTrafficStep===2">
    <button nz-button nzSize="large" nzType="primary" (click)="dialogNameChange.emit(null)">{{ 'COMMON.DONE' | translate }}</button>
  </ng-container>
</ng-template>


<!-- eden 需要密码 -->
<nz-modal nzTitle="{{ 'MODEL.EDEN_NEED_PASS' | translate }}" [nzVisible]="dialogName==='edenNeedPass'" (nzOnCancel)="dialogNameChange.emit(null)"
  (nzOnOk)="dialogDone()">
  <input nz-input type="password" nzSize="large" [(ngModel)]="edenNeedPass">
</nz-modal>


<!-- tx eden 需要密码 -->
<nz-modal nzTitle="{{ 'MODEL.TXEDEN_NEED_PASS' | translate }}" [nzVisible]="dialogName==='txEdenNeedPass'" (nzOnCancel)="dialogNameChange.emit(null)"
  (nzOnOk)="dialogDone()">
  <input nz-input type="password" nzSize="large" [(ngModel)]="txEdenNeedPass">
</nz-modal>


<!-- 设置 -->
<nz-modal [nzTitle]="'HEADER.SETTINGS' | translate" [nzFooter]="null" [nzVisible]="dialogName==='setting'" (nzOnCancel)="dialogNameChange.emit(null)">
  <div nz-row class="setting" *ngIf="SETTINGS.showWallet[1]">
    <div nz-col nzSpan="16" nzOffset="1">
      {{ 'MODEL.SETTING.SHOW.WALLET' | translate }}
    </div>
    <div nz-col nzSpan="6">
      <nz-switch [(ngModel)]="settingService.showWallet"></nz-switch>
    </div>
  </div>
  <div nz-row class="setting" *ngIf="SETTINGS.showEden[1]">
    <div nz-col nzSpan="16" nzOffset="1">
      {{ 'MODEL.SETTING.SHOW.EDEN' | translate}}
    </div>
    <div nz-col nzSpan="6">
      <nz-switch [(ngModel)]="settingService.showEden"></nz-switch>
    </div>
  </div>
  <div nz-row class="setting" *ngIf="SETTINGS.showTxEden[1]">
    <div nz-col nzSpan="16" nzOffset="1">
      {{ 'MODEL.SETTING.SHOW.TXEDEN' | translate}}
    </div>
    <div nz-col nzSpan="6">
      <nz-switch [(ngModel)]="settingService.showTxEden"></nz-switch>
    </div>
  </div>
  <div nz-row class="setting" *ngIf="SETTINGS.showSharer[1]">
    <div nz-col nzSpan="16" nzOffset="1">
      {{ 'MODEL.SETTING.SHOW.SHARER' | translate}}
    </div>
    <div nz-col nzSpan="6">
      <nz-switch [(ngModel)]="settingService.showTxSharer"></nz-switch>
    </div>
  </div>
  <div nz-row class="setting" *ngIf="SETTINGS.showTxSharer[1]">
    <div nz-col nzSpan="16" nzOffset="1">
      {{ 'MODEL.SETTING.SHOW.TXSHARER' | translate}}
    </div>
    <div nz-col nzSpan="6">
      <nz-switch [(ngModel)]="settingService.showSharer"></nz-switch>
    </div>
  </div>
  <div nz-row class="setting" *ngIf="SETTINGS.lang[1]">
    <div nz-col nzSpan="16" nzOffset="1">
      {{ 'MODEL.SETTING.LANGUAGE' | translate}}
    </div>
    <div nz-col nzSpan="6">
      <nz-select [(ngModel)]="settingService.lang">
        <nz-option *ngFor="let lang of i18n.getLangs()" [nzValue]="lang" [nzLabel]="settingGetLanguageName(lang)"></nz-option>
      </nz-select>
    </div>
  </div>
</nz-modal>

<!-- 新建容器 -->
<nz-modal nzTitle="{{ 'EDEN.NEW_BUCKET' | translate }}" [nzVisible]="dialogName==='edenCreateBucket'" (nzOnCancel)="dialogNameChange.emit(null)"
  (nzOnOk)="dialogDone()">
  <div nz-row class="setting" *ngIf="SETTINGS.showSharer[1]">
    <div nz-col nzSpan="8" nzOffset="1">
      {{ 'EDEN.CREATE_BUCKET_TIP' | translate}} {{ 'COMMON.COLON' | translate}}
    </div>
    <div nz-col nzSpan="14">
      <input nz-input [(ngModel)]="edenCreateBucket">
    </div>
  </div>
</nz-modal>

<!-- 删除容器 -->
<nz-modal nzTitle="{{ 'EDEN.DELETE_BUCKET_CONFIRM' | translate }}" [nzVisible]="dialogName==='edenDeleteBucket'" (nzOnCancel)="dialogNameChange.emit(null)"
  (nzOnOk)="dialogDone()">
  <div nz-col>
    <div nz-row *ngFor="let bucket of options">{{ bucket.name }}</div>
  </div>
</nz-modal>

<!-- 帮助 -->
<nz-modal [nzTitle]="'HEADER.HELP' | translate" [nzFooter]="null" [nzVisible]="dialogName==='help'" (nzOnCancel)="dialogNameChange.emit(null)">
  <div nz-row class="setting">
    <div nz-col nzSpan="16" nzOffset="1">
      {{ 'MODEL.HELP.INSTRUCTIONS' | translate}}
    </div>
    <div nz-col nzSpan="6">
      <button nz-button class="right-btn" (click)="openInstructionsWeb()">
        <i class="anticon anticon-right"></i>
      </button>
    </div>
  </div>
  <div nz-row class="setting">
    <div nz-col nzSpan="16" nzOffset="1">
      {{ 'MODEL.HELP.DOWNLOAD_EDEN' | translate}}
    </div>
    <div nz-col nzSpan="6">
      <button nz-button class="right-btn" (click)="openDownloadEdenWeb()">
        <i class="anticon anticon-right"></i>
      </button>
    </div>
  </div>
  <div nz-row class="setting">
    <div nz-col nzSpan="16" nzOffset="1">
      {{ 'MODEL.HELP.DOWNLOAD_SHARER' | translate}}
    </div>
    <div nz-col nzSpan="6">
      <button nz-button class="right-btn" (click)="openDownloadSharerWeb()">
        <i class="anticon anticon-right"></i>
      </button>
    </div>
  </div>
  <div nz-row class="setting">
    <div nz-col nzSpan="12" nzOffset="1">
      {{ 'MODEL.HELP.CONTACT' | translate}}
    </div>
    <div nz-col nzSpan="10">
      <span class="contact-email">eden@genaro.network</span>
    </div>
  </div>
</nz-modal>

<!-- 关于 -->
<nz-modal [nzTitle]="'HEADER.ABOUT' | translate" [nzFooter]="null" [nzVisible]="dialogName==='about'" (nzOnCancel)="dialogNameChange.emit(null)">
  <div nz-row class="setting">
    <div nz-col nzSpan="16" nzOffset="1">
      {{ 'MODEL.ABOUT.AGREEMENT' | translate}}
    </div>
    <div nz-col nzSpan="6">
      <button nz-button class="right-btn" (click)="openAgreementWeb()"><i class="anticon anticon-right"></i></button>
    </div>
  </div>
  <div nz-row class="setting">
    <div nz-col nzSpan="16" nzOffset="1">
      {{ 'MODEL.ABOUT.PRIVACY' | translate}}
    </div>
    <div nz-col nzSpan="6">
        <button nz-button class="right-btn" (click)="openPrivacyWeb()"><i class="anticon anticon-right"></i></button>
    </div>
  </div>
  <div *ngIf="false" nz-row class="setting">
    <div nz-col nzSpan="16" nzOffset="1">
      {{ 'MODEL.ABOUT.LOGS' | translate}}
    </div>
    <div nz-col nzSpan="6">
        <button nz-button class="right-btn" (click)="openLogsWeb()"><i class="anticon anticon-right"></i></button>
    </div>
  </div>
  <div nz-row class="setting">
    <div nz-col nzSpan="16" nzOffset="1">
      {{ 'MODEL.ABOUT.VERSION' | translate}}
    </div>
    <div *ngIf="isLastestVersion" nz-col nzSpan="6">
      {{version}}
    </div>
    <div *ngIf="!isLastestVersion" nz-col nzSpan="6">
      <button nz-button class="right-btn" nzType="danger" (click)="openUpdateVersion()">更新</button>
    </div>
  </div>
</nz-modal>
