@import "../../config.scss";

.buy-space,
.buy-traffic {
  .review {
    margin-bottom: 1rem;

    .label {
      text-align: right;
    }
  }

  ::ng-deep .ant-modal-footer {
    &>span {
      margin-right: 1rem;
    }
  }
}

.anticon-check-circle {
  display: block;
  font-size: 8rem;
  margin: 1rem auto;
  color: $success-color;
}

.right-btn {
  border-color: #fff;
  background-color: #fff;

  &.ant-btn-danger:hover {
    color: #ff4d4f;
  }
}

.contact-email {
  color: #bfbfbf;
}

.no-mask {
  ::ng-deep .ant-modal-wrap {
    pointer-events: none;

    .ant-modal-content {
      pointer-events: all;
    }
  }
}

textarea {
  resize: none;
}

.tips {
  white-space: pre-wrap;
  word-wrap: pre;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
  padding: 6px 0;
}

.mail-attach {
  float: left;
  height: 2rem;
  width: 49%;
  color: #27292F;
  box-sizing: border-box;
  border: 1px solid #CCC;
  background: #F5F7Fb;
  border-radius: 3px;
  margin-top: .5rem;
  line-height: calc(2rem - 2px);
  padding: 0 1rem 0 .5rem;
  position: relative;
  overflow: hidden;

  i {
    position: absolute;
    right: .5rem;
    top: 0;
    line-height: 2rem;
    height: 2rem;
    cursor: pointer;
    color: #191C18;
  }

  .process {
    height: 2px;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    pointer-events: none;
    background-image: linear-gradient(to right, #44dede, #0060E7);

    &.done {
      background: #199633;
    }
  }

  span.size {
    color: #A4A5A8;
  }

  &:nth-of-type(2n-1) {
    margin-right: 2%;
  }

  .attach-download {
    color: $theme-color;
  }
}
