@import "../../config.scss";
.buy-space,
.buy-traffic {
  .review {
    margin-bottom: 1rem;
    .label {
      text-align: right;
    }
  }
  ::ng-deep .ant-modal-footer {
    &>span {
      margin-right: 1rem;
    }
  }
}

.anticon-check-circle {
  display: block;
  font-size: 8rem;
  margin: 1rem auto;
  color: $success-color;
}

.right-btn {
  border-color: #fff;
  background-color: #fff;
  &.ant-btn-danger:hover {
    color: #ff4d4f;
  }
}

.contact-email {
  color: #bfbfbf;
}

.no-mask {
  ::ng-deep .ant-modal-wrap {
    pointer-events: none;
    .ant-modal-content {
      pointer-events: all;
    }
  }
}

textarea {
  resize: none;
}

.tips {
  white-space: pre-wrap;
  word-wrap: pre;
}