<!-- 更改钱包名 -->
<nz-modal [nzTitle]="'MODEL.WALLET_CHANGE_NAME' | translate" [nzVisible]="dialogName==='walletChangeName'" (nzOnCancel)="dialogNameChange.emit(null)"
  (nzOnOk)="dialogDone()" [nzOkText]="'COMMON.CONFIRM' | translate" [nzCancelText]="'COMMON.CANCEL' | translate">
  <app-input (submit)="dialogDone()" name="input-no-label" [(ipt)]="walletChangeName" [iptExtra]="['MODEL.WALLET_CHANGE_NAME_PLACEHOLDER' | translate]"
    [span]="[0,24]"></app-input>
</nz-modal>

<!-- 更改钱包密码 -->
<nz-modal [nzTitle]="'MODEL.WALLET_CHANGE_PASSWORD' | translate" [nzVisible]="dialogName==='walletChangePassword'"
  (nzOnCancel)="dialogNameChange.emit(null)" (nzOnOk)="dialogDone()" [nzOkText]="'COMMON.CONFIRM' | translate"
  [nzCancelText]="'COMMON.CANCEL' | translate">
  <ng-container *ngIf="changePasswordStep===0">
    <app-input (submit)="dialogDone()" name="password-no-label" [(ipt)]="walletChangePassword.old" [span]="[0,24]"></app-input>
    <app-input (submit)="dialogDone()" name="password-no-label" [(ipt)]="walletChangePassword.new" [iptExtra]="['MODEL.WALLET_CHANGE_PASSWORD_PLACEHOLDER' | translate]"
      [span]="[0,24]"></app-input>
    <app-input (submit)="dialogDone()" name="password-no-label" [(ipt)]="walletChangePassword.repeat" [iptExtra]="['MODEL.WALLET_CHANGE_PASSWORD_PLACEHOLDER_REPEAT' | translate]"
      [span]="[0,24]"></app-input>
    <span>{{ 'MODEL.FORGET_PASSWORD_TIPS' | translate }}
      <a (click)="forgetPassword()">{{ 'MODEL.IMPORT_MNEMONIC_NOW' | translate }}</a>
    </span>
  </ng-container>
  <ng-container *ngIf="changePasswordStep===1">
    <textarea row="4" nz-input [(ngModel)]="walletChangePassword.mnemonic" [placeholder]="'WALLETNEW.MNEMONIC_PLACEHOLDER' | translate"></textarea>
    <br />
    <br />
    <app-input (submit)="dialogDone()" name="password-no-label" [(ipt)]="walletChangePassword.new" [iptExtra]="['MODEL.WALLET_CHANGE_PASSWORD_PLACEHOLDER' | translate]"
      [span]="[0,24]"></app-input>
    <app-input (submit)="dialogDone()" name="password-no-label" [(ipt)]="walletChangePassword.repeat" [iptExtra]="['MODEL.WALLET_CHANGE_PASSWORD_PLACEHOLDER_REPEAT' | translate]"
      [span]="[0,24]"></app-input>
    <span>
      <a (click)="backToPassword()">{{ 'MODEL.BACK' | translate }}</a>
    </span>
  </ng-container>
</nz-modal>

<!-- 导出 JSON -->
<nz-modal [nzTitle]="'MODEL.WALLET_EXPORT_JSON' | translate" [nzVisible]="dialogName==='walletExportJson'" (nzOnCancel)="dialogNameChange.emit(null)"
  (nzOnOk)="dialogDone()" [nzOkText]="'COMMON.CONFIRM' | translate" [nzCancelText]="'COMMON.CANCEL' | translate">
  <app-input (submit)="dialogDone()" name="password-no-label" [(ipt)]="walletExportJson" [span]="[0,24]"></app-input>
</nz-modal>

<!-- 删除钱包 -->
<nz-modal [nzTitle]="'MODEL.WALLET_DELETE' | translate" [nzVisible]="dialogName==='walletDelete'" (nzOnCancel)="dialogNameChange.emit(null)"
  (nzOnOk)="dialogDone()" [nzOkText]="'COMMON.CONFIRM' | translate" [nzCancelText]="'COMMON.CANCEL' | translate">
  <app-input (submit)="dialogDone()" name="text" [ipt]="'WALLET.DELETE_WALLET_TIP'| translate" [span]="[2, 20]"></app-input>
  <app-input (submit)="dialogDone()" name="password-no-label" [span]="[2, 20]" [(ipt)]="walletDelete"></app-input>
</nz-modal>

<!-- 购买空间 -->
<nz-modal [nzVisible]="dialogName==='buySpace'" (nzOnCancel)="dialogNameChange.emit(null)" [nzMaskClosable]="false"
  [nzTitle]="'TXEDEN.BUY_SPACE' | translate" [nzFooter]="buySpaceFooter" class="buy-space">
  <ng-container *ngIf="buySpaceStep===0">
    <app-input (submit)="buySpaceStep=1" name="spaceRange" [(ipt)]="buySpaceRangeParams" (iptChange)="buySpaceRange=$event[0]*$event[1];"></app-input>
    <app-input (submit)="buySpaceStep=1" name="spaceLimit" [(ipt)]="buySpaceLimitParams" (iptChange)="buySpaceLimit=$event[0]*$event[1];"></app-input>
    <app-input (submit)="buySpaceStep=1" name="gas" [(ipt)]="buySpaceGas"></app-input>
  </ng-container>
  <ng-container *ngIf="buySpaceStep===1">
    <div nz-row class="review">
      <div nz-col nzSpan="6" class="label">{{ 'INPUT.SPACE_RANGE' | translate }}{{ 'COMMON.COLON' | translate }}</div>
      <div nz-col nzSpan="18">{{ buySpaceRange }}GB</div>
    </div>
    <div nz-row class="review">
      <div nz-col nzSpan="6" class="label">{{ 'INPUT.SPACE_LIMIT' | translate }}{{ 'COMMON.COLON' | translate }}</div>
      <div nz-col nzSpan="18">{{ buySpaceLimit/30 }}{{ 'COMMON.MONTH(S)' | translate }}</div>
    </div>
    <div nz-row class="review">
      <div nz-col nzSpan="6" class="label">{{ 'TXEDEN.BUY_PREVIEW_PRICE' | translate }}{{ 'COMMON.COLON' | translate }}</div>
      <div nz-col nzSpan="18">{{ (buySpaceRange*buySpaceLimit*SPACE_UNIT_PRICE).toFixed(2) }} GNX</div>
    </div>
    <app-input (submit)="buySpaceSubmit()" name="password" [(ipt)]="buySpacePassword"></app-input>
  </ng-container>
  <ng-container *ngIf="buySpaceStep===2">
    <i nz-icon type="check-circle" theme="outline"></i>
  </ng-container>
</nz-modal>
<ng-template #buySpaceFooter>
  <ng-container *ngIf="buySpaceStep===0">
    <span>{{ 'TXEDEN.BUY_PREVIEW_PRICE' | translate }} {{ (buySpaceRange*buySpaceLimit*SPACE_UNIT_PRICE).toFixed(2) }}
      GNX</span>
    <button nz-button nzSize="large" nzType="primary" (click)="buySpaceStep=buySpaceStep+1">{{ 'COMMON.NEXT' |
      translate }}</button>
  </ng-container>
  <ng-container *ngIf="buySpaceStep===1">
    <button nz-button nzSize="large" nzType="primary" (click)="buySpaceStep=buySpaceStep-1">{{ 'COMMON.PREV' |
      translate }}</button>
    <button nz-button nzSize="large" nzType="primary" [disabled]="buySpaceDisabled" (click)="buySpaceSubmit()">{{
      'COMMON.BUY_NOW' | translate }}</button>
  </ng-container>
  <ng-container *ngIf="buySpaceStep===2">
    <button nz-button nzSize="large" nzType="primary" (click)="dialogNameChange.emit(null)">{{ 'COMMON.DONE' |
      translate }}</button>
  </ng-container>
</ng-template>

<!-- 购买流量 -->
<nz-modal [nzVisible]="dialogName==='buyTraffic'" (nzOnCancel)="dialogNameChange.emit(null)" [nzMaskClosable]="false"
  [nzTitle]="'TXEDEN.BUY_TRAFFIC' | translate" [nzFooter]="buyTrafficFooter" class="buy-traffic">
  <ng-container *ngIf="buyTrafficStep===0">
    <app-input (submit)="buyTrafficStep=1" name="traffic" [(ipt)]="buyTrafficParams" (iptChange)="buyTraffic=$event[0]*$event[1]"></app-input>
    <app-input (submit)="buyTrafficStep=1" name="gas" [(ipt)]="buyTrafficGas"></app-input>
  </ng-container>
  <ng-container *ngIf="buyTrafficStep===1">
    <div nz-row class="review">
      <div nz-col nzSpan="6" class="label">{{ 'INPUT.TRAFFIC' | translate }}{{ 'COMMON.COLON' | translate }}</div>
      <div nz-col nzSpan="18">{{ buyTraffic }}GB</div>
    </div>
    <div nz-row class="review">
      <div nz-col nzSpan="6" class="label">{{ 'TXEDEN.BUY_PREVIEW_PRICE' | translate }}{{ 'COMMON.COLON' | translate }}</div>
      <div nz-col nzSpan="18">{{ (buyTraffic*TRAFFIC_UNIT_PRICE).toFixed(2) }} GNX</div>
    </div>
    <app-input (submit)="buyTrafficSubmit()" name="password" [(ipt)]="buyTrafficPassword"></app-input>
  </ng-container>
  <ng-container *ngIf="buyTrafficStep===2">
    <i nz-icon type="check-circle" theme="outline"></i>
  </ng-container>
</nz-modal>
<ng-template #buyTrafficFooter class="btfooter">
  <ng-container *ngIf="buyTrafficStep===0">
    <span>{{ 'TXEDEN.BUY_PREVIEW_PRICE' | translate }} {{ (buyTraffic*TRAFFIC_UNIT_PRICE).toFixed(2) }} GNX</span>
    <button nz-button nzSize="large" nzType="primary" (click)="buyTrafficStep=buyTrafficStep+1">{{ 'COMMON.NEXT' |
      translate }}</button>
  </ng-container>
  <ng-container *ngIf="buyTrafficStep===1">
    <button nz-button nzSize="large" nzType="primary" (click)="buyTrafficStep=buyTrafficStep-1">{{ 'COMMON.PREV' |
      translate }}</button>
    <button nz-button nzSize="large" nzType="primary" [disabled]="buyTrafficDisabled" (click)="buyTrafficSubmit()">{{
      'COMMON.BUY_NOW' | translate }}</button>
  </ng-container>
  <ng-container *ngIf="buyTrafficStep===2">
    <button nz-button nzSize="large" nzType="primary" (click)="dialogNameChange.emit(null)">{{ 'COMMON.DONE' |
      translate }}</button>
  </ng-container>
</ng-template>


<!-- eden 需要密码 -->
<nz-modal [nzTitle]="options" [nzVisible]="dialogName==='edenNeedPass'" (nzOnCancel)="dialogNameChange.emit(null)"
  (nzOnOk)="dialogDone()" [nzMask]="false" [nzMaskClosable]="false" [nzClosable]="false" [nzZIndex]="9" [nzOkText]="'COMMON.CONFIRM' | translate"
  [nzCancelText]="null" class="no-mask">
  <app-input (submit)="dialogDone()" name="password-no-label" [(ipt)]="edenNeedPass" [span]="[0,24]"></app-input>
</nz-modal>


<!-- tx eden 需要密码 -->
<nz-modal [nzTitle]="options" [nzVisible]="dialogName==='txEdenNeedPass'" (nzOnCancel)="dialogNameChange.emit(null)"
  (nzOnOk)="dialogDone()" [nzMask]="false" [nzMaskClosable]="false" [nzClosable]="false" [nzZIndex]="9" [nzOkText]="'COMMON.CONFIRM' | translate"
  [nzCancelText]="null" class="no-mask">
  <app-input (submit)="dialogDone()" name="password-no-label" [(ipt)]="txEdenNeedPass" [span]="[0,24]"></app-input>
</nz-modal>


<!-- 设置 -->
<nz-modal [nzTitle]="'HEADER.SETTINGS' | translate" [nzFooter]="null" [nzVisible]="dialogName==='setting'" (nzOnCancel)="dialogNameChange.emit(null)"
  [nzOkText]="'COMMON.CONFIRM' | translate" [nzCancelText]="'COMMON.CANCEL' | translate">
  <app-input (submit)="dialogDone()" name="setting" ipt="wallet"></app-input>
  <app-input (submit)="dialogDone()" name="setting" ipt="eden"></app-input>
  <app-input (submit)="dialogDone()" name="setting" ipt="sharer"></app-input>
  <app-input (submit)="dialogDone()" name="setting" ipt="txEden"></app-input>
  <app-input (submit)="dialogDone()" name="setting" ipt="txSharer"></app-input>
  <app-input (submit)="dialogDone()" name="setting" ipt="committee"></app-input>
</nz-modal>

<!-- 容器重命名 -->
<nz-modal [nzTitle]="'EDEN.RENAME_BUCKET' | translate" [nzVisible]="dialogName==='edenRenameBucket'" (nzOnCancel)="dialogNameChange.emit(null)"
  (nzOnOk)="dialogDone()" [nzOkText]="'COMMON.CONFIRM' | translate" [nzCancelText]="'COMMON.CANCEL' | translate">
  <app-input (submit)="dialogDone()" name="input-no-label" [(ipt)]="edenRenameBucket" [span]="[0,24]" [iptExtra]="[' ']"></app-input>
</nz-modal>

<!-- 删除容器 -->
<nz-modal [nzTitle]="'EDEN.DELETE_BUCKET_CONFIRM' | translate" [nzVisible]="dialogName==='edenDeleteBucket'"
  (nzOnCancel)="dialogNameChange.emit(null)" (nzOnOk)="dialogDone()" [nzOkText]="'COMMON.CONFIRM' | translate"
  [nzCancelText]="'COMMON.CANCEL' | translate">
  <app-input (submit)="dialogDone()" name="text" [ipt]="'EDEN.DELETE_BUCKET_TIP'| translate" [span]="[2, 20]"></app-input>
  <app-input *ngIf="!!edenDeleteShareFiles" (submit)="dialogDone()" name="text" [ipt]="'EDEN.DELETE_BUCKET_TIP2'| translate:{fileNames: edenDeleteShareFiles}"
    [span]="[2, 20]"></app-input>
  <app-input (submit)="dialogDone()" name="password-no-label" [(ipt)]="edenDeleteBucket" [span]="[2, 20]"></app-input>
</nz-modal>

<!-- 删除文件 -->
<nz-modal [nzTitle]="'EDEN.DELETE_FILES_CONFIRM' | translate" [nzVisible]="dialogName==='edenDeleteFiles'" (nzOnCancel)="dialogNameChange.emit(null)"
  (nzOnOk)="dialogDone()" [nzOkText]="'COMMON.CONFIRM' | translate" [nzCancelText]="'COMMON.CANCEL' | translate">
  <div nz-row class="review">
    <div nz-col nzSpan="24" class="text-center">{{'EDEN.DELETE_FILES_TIP1' | translate:{fileNames: edenDeleteFileNames}
      }}</div>
    <div nz-col nzSpan="24" class="text-center">{{'EDEN.DELETE_FILES_TIP2' | translate }}</div>
    <div nz-col nzSpan="24" class="text-center">{{'EDEN.DELETE_FILES_TIP3' | translate }}</div>
  </div>
</nz-modal>

<!-- 帮助 -->
<nz-modal [nzTitle]="'HEADER.HELP' | translate" [nzFooter]="null" [nzVisible]="dialogName==='help'" (nzOnCancel)="dialogNameChange.emit(null)"
  [nzOkText]="'COMMON.CONFIRM' | translate" [nzCancelText]="'COMMON.CANCEL' | translate">
  <app-input name="help-link" [ipt]="'MODEL.HELP.EDEN_INSTRUCTIONS' | translate" [iptExtra]="'MODEL.HELP.EDEN_INSTRUCTIONS_URL' | translate"
    [span]="[16, 6, 1]"></app-input>
  <app-input name="help-link" [ipt]="'MODEL.HELP.SHARER_INSTRUCTIONS' | translate" [iptExtra]="'MODEL.HELP.SHARER_INSTRUCTIONS_URL' | translate"
    [span]="[16, 6, 1]"></app-input>
  <app-input name="setting" ipt="language"></app-input>
  <app-input name="help-tip" [ipt]="'MODEL.HELP.CONTACT' | translate" iptExtra="eden@genaro.network" [span]="[12, 10, 1]"></app-input>
</nz-modal>

<!-- 关于 -->
<nz-modal [nzTitle]="'HEADER.ABOUT' | translate" [nzFooter]="null" [nzVisible]="dialogName==='about'" (nzOnCancel)="dialogNameChange.emit(null)"
  [nzOkText]="'COMMON.CONFIRM' | translate" [nzCancelText]="'COMMON.CANCEL' | translate">
  <app-input name="help-tip" [ipt]="'MODEL.ABOUT.AGREEMENT' | translate" [iptExtra]="'MODEL.ABOUT.UPDATING' | translate"
    [span]="[16, 6, 1]"></app-input>
  <app-input name="help-tip" [ipt]="'MODEL.ABOUT.PRIVACY' | translate" [iptExtra]="'MODEL.ABOUT.UPDATING' | translate"
    [span]="[16, 6, 1]"></app-input>
  <app-input name="help-tip" [ipt]="'MODEL.ABOUT.VERSION' | translate" [iptExtra]="settingService.appVersion" [span]="[16, 6, 1]"></app-input>
  <app-input name="help-checkversion" [span]="[16, 6, 1]"></app-input>

</nz-modal>

<!-- 申请加入共建 -->
<nz-modal [nzVisible]="dialogName==='joinCommittee'" (nzOnCancel)="dialogNameChange.emit(null)" [nzMaskClosable]="false"
  [nzTitle]="'HEADER.JOIN' | translate" [nzFooter]="joinCommitteeFooter" class="buy-space">
  <ng-container *ngIf="joinCommitteeStep===0">
    <app-input (submit)="dialogDone()" name="gas" [(ipt)]="joinCommitteeGas"></app-input>
    <app-input (submit)="dialogDone()" name="password" [(ipt)]="joinCommitteePassword"></app-input>
  </ng-container>
  <ng-container *ngIf="joinCommitteeStep===1">
    <i nz-icon type="check-circle" theme="outline"></i>
  </ng-container>
</nz-modal>
<ng-template #joinCommitteeFooter>
  <ng-container *ngIf="joinCommitteeStep===0">
    <button nz-button nzSize="large" nzType="primary" (click)="joinCommitteeSubmit()">{{ 'COMMON.CONFIRM' | translate
      }}</button>
  </ng-container>
  <ng-container *ngIf="joinCommitteeStep===1">
    <button nz-button nzSize="large" nzType="primary" (click)="dialogNameChange.emit(null)">{{ 'COMMON.DONE' |
      translate }}</button>
  </ng-container>
</ng-template>

<!-- 同意加入共建 -->
<nz-modal [nzVisible]="dialogName==='approveJoin'" (nzOnCancel)="dialogNameChange.emit(null)" [nzMaskClosable]="false"
  [nzTitle]="'TABLE.COMMITTEE.JOIN' | translate" [nzFooter]="approveJoinFooter" class="buy-space">
  <ng-container *ngIf="approveJoinStep===0">
    <app-input (submit)="dialogDone()" name="gas" [(ipt)]="approveJoinGas"></app-input>
    <app-input (submit)="dialogDone()" name="password" [(ipt)]="approveJoinPassword"></app-input>
  </ng-container>
  <ng-container *ngIf="approveJoinStep===1">
    <i nz-icon type="check-circle" theme="outline"></i>
  </ng-container>
</nz-modal>
<ng-template #approveJoinFooter>
  <ng-container *ngIf="approveJoinStep===0">
    <button nz-button nzSize="large" nzType="primary" (click)="approveJoinSubmit()">{{ 'COMMON.CONFIRM' | translate }}</button>
  </ng-container>
  <ng-container *ngIf="approveJoinStep===1">
    <button nz-button nzSize="large" nzType="primary" (click)="dialogNameChange.emit(null)">{{ 'COMMON.DONE' |
      translate }}</button>
  </ng-container>
</ng-template>

<!-- relieve -->
<nz-modal [nzVisible]="dialogName==='relieve'" (nzOnCancel)="dialogNameChange.emit(null)" [nzMaskClosable]="false"
  [nzTitle]="'TABLE.COMMITTEE.RELIEVE' | translate" [nzFooter]="relieveFooter" class="buy-space">
  <ng-container *ngIf="relieveStep===0">
    <app-input (submit)="dialogDone()" name="gas" [(ipt)]="relieveGas"></app-input>
    <app-input (submit)="dialogDone()" name="password" [(ipt)]="relievePassword"></app-input>
  </ng-container>
  <ng-container *ngIf="relieveStep===1">
    <i nz-icon type="check-circle" theme="outline"></i>
  </ng-container>
</nz-modal>
<ng-template #relieveFooter>
  <ng-container *ngIf="relieveStep===0">
    <button nz-button nzSize="large" nzType="primary" (click)="relieveSubmit()">{{ 'COMMON.CONFIRM' | translate }}</button>
  </ng-container>
  <ng-container *ngIf="relieveStep===1">
    <button nz-button nzSize="large" nzType="primary" (click)="dialogNameChange.emit(null)">{{ 'COMMON.DONE' |
      translate }}</button>
  </ng-container>
</ng-template>


<!-- tips -->
<nz-modal [nzFooter]="tipsFooter" [nzVisible]="dialogName==='tips'" nzClosable="false">
  <div class="tips" [innerHtml]="options ? options.content : ''">
  </div>
</nz-modal>
<ng-template #tipsFooter>
  <button nz-button nzSize="large" nzType="primary" (click)="dialogNameChange.emit(null)">{{ 'COMMON.CONFIRM' |
    translate }}</button>
</ng-template>

<!-- 扩容空间 -->
<nz-modal [nzVisible]="dialogName==='spaceExpansion'" (nzOnCancel)="dialogNameChange.emit(null)" [nzMaskClosable]="false"
  [nzTitle]="'TXEDEN.DILATATION' | translate" [nzFooter]="spaceExpansionFooter" class="buy-space">
  <ng-container *ngIf="spaceExpansionStep===0">
    <app-input name="extendSpaceRange" [(ipt)]="spaceExpansionRangeParams" (iptChange)="spaceExpansionRange=$event[0]*$event[1];calcPrice();"></app-input>
    <app-input name="extendSpaceLimit" [(ipt)]="spaceExpansionLimitParams" (iptChange)="spaceExpansionLimit=$event[0]*$event[1];calcPrice();"></app-input>
    <app-input name="gas" [(ipt)]="spaceExpansionGas"></app-input>
  </ng-container>
  <ng-container *ngIf="spaceExpansionStep===1">
    <div nz-row class="review">
      <div nz-col nzSpan="6" class="label">{{ 'INPUT.BUY_MORE_SPACE' | translate }}{{ 'COMMON.COLON' | translate }}</div>
      <div nz-col nzSpan="18">{{ spaceExpansionRange }}GB</div>
    </div>
    <div nz-row class="review">
      <div nz-col nzSpan="6" class="label">{{ 'INPUT.EXTEND_EXPIRY_DATE' | translate }}{{ 'COMMON.COLON' | translate }}</div>
      <div nz-col nzSpan="18">{{ spaceExpansionLimit/30 }}{{ 'COMMON.MONTH(S)' | translate }}</div>
    </div>
    <div nz-row class="review">
      <div nz-col nzSpan="6" class="label">{{ 'TXEDEN.BUY_PREVIEW_PRICE' | translate }}{{ 'COMMON.COLON' | translate }}</div>
      <div nz-col nzSpan="18">{{ spaceExpansionPrice.toFixed(2) }} GNX</div>
    </div>
    <app-input name="password" [(ipt)]="spaceExpansionPassword"></app-input>
  </ng-container>
  <ng-container *ngIf="spaceExpansionStep===2">
    <i nz-icon type="check-circle" theme="outline"></i>
  </ng-container>
</nz-modal>
<ng-template #spaceExpansionFooter>
  <ng-container *ngIf="spaceExpansionStep===0">
    <span>{{ 'TXEDEN.BUY_PREVIEW_PRICE' | translate }} {{ spaceExpansionPrice.toFixed(2) }} GNX</span>
    <button nz-button nzSize="large" nzType="primary" (click)="spaceExpansionStep=spaceExpansionStep+1">{{
      'COMMON.NEXT' | translate }}</button>
  </ng-container>
  <ng-container *ngIf="spaceExpansionStep===1">
    <button nz-button nzSize="large" nzType="primary" (click)="spaceExpansionStep=spaceExpansionStep-1">{{
      'COMMON.PREV' | translate }}</button>
    <button nz-button nzSize="large" nzType="primary" [disabled]="spaceExpansionDisabled" (click)="spaceExpansionSubmit()">{{
      'COMMON.BUY_NOW' | translate }}</button>
  </ng-container>
  <ng-container *ngIf="spaceExpansionStep===2">
    <button nz-button nzSize="large" nzType="primary" (click)="dialogNameChange.emit(null)">{{ 'COMMON.DONE' |
      translate }}</button>
  </ng-container>
</ng-template>

<!-- 分享空间 -->
<nz-modal [nzVisible]="dialogName==='shareFile'" (nzOnCancel)="dialogNameChange.emit(null)" [nzMaskClosable]="false"
  [nzTitle]="'TXEDEN.SHARE_FILE' | translate" [nzFooter]="shareFileFooter" class="buy-space">
  <ng-container *ngIf="shareFileStep===0">
    <div nz-row class="review">
      <div nz-col nzSpan="6" class="label">{{ 'INPUT.FILE_NAME' | translate }}{{ 'COMMON.COLON' | translate }}</div>
      <div nz-col nzSpan="14" class="text-right">{{ shareFileInfo.name }}</div>
    </div>
    <div nz-row class="review">
      <div nz-col nzSpan="6" class="label">{{ 'INPUT.FILE_SIZE' | translate }}{{ 'COMMON.COLON' | translate }}</div>
      <div nz-col nzSpan="14" class="text-right">{{ shareFileInfo.size | humanSize }}</div>
    </div>
    <app-input (submit)="dialogDone()" name="recipient" [(ipt)]="shareFileRecipient" [span]="[6, 14]"></app-input>
    <app-input (submit)="dialogDone()" name="chargePrice" [(ipt)]="shareFileChargePrice" [span]="[6, 14]"></app-input>
  </ng-container>
  <ng-container *ngIf="shareFileStep===1">
    <div nz-row class="review">
      <div nz-col nzSpan="6" class="label">{{ 'INPUT.FILE_NAME' | translate }}{{ 'COMMON.COLON' | translate }}</div>
      <div nz-col nzSpan="14" class="text-right">{{ shareFileInfo.name }}</div>
    </div>
    <div nz-row class="review">
      <div nz-col nzSpan="6" class="label">{{ 'INPUT.FILE_SIZE' | translate }}{{ 'COMMON.COLON' | translate }}</div>
      <div nz-col nzSpan="14" class="text-right">{{ shareFileInfo.size | humanSize }}</div>
    </div>
    <div nz-row class="review">
      <div nz-col nzSpan="6" class="label">{{ 'INPUT.RECIPIENT' | translate }}{{ 'COMMON.COLON' | translate }}</div>
      <div nz-col nzSpan="14" class="text-right">{{ shareFileRecipient }}</div>
    </div>
    <div nz-row class="review">
      <div nz-col nzSpan="6" class="label">{{ 'INPUT.CHARGE_PRICE' | translate }}{{ 'COMMON.COLON' | translate }}</div>
      <div nz-col nzSpan="14" class="text-right">{{ shareFileChargePrice }}</div>
    </div>
    <br />
    <app-input (submit)="dialogDone()" name="gas" [(ipt)]="shareFileGas" [span]="[6, 14]"></app-input>
    <app-input (submit)="dialogDone()" name="password" [(ipt)]="shareFilePassword" [span]="[6, 14]"></app-input>
  </ng-container>
  <ng-container *ngIf="shareFileStep===2">
    <i nz-icon type="check-circle" theme="outline"></i>
  </ng-container>
</nz-modal>
<ng-template #shareFileFooter>
  <ng-container *ngIf="shareFileStep===0">
    <button nz-button nzSize="large" nzType="primary" (click)="shareFileStep=shareFileStep+1">{{
      'COMMON.NEXT' | translate }}</button>
  </ng-container>
  <ng-container *ngIf="shareFileStep===1">
    <button nz-button nzSize="large" nzType="primary" (click)="shareFileStep=shareFileStep-1">{{
      'COMMON.PREV' | translate }}</button>
    <button nz-button nzSize="large" nzType="primary" [disabled]="shareFileDisabled" (click)="shareFileSubmit()">{{
      'COMMON.CONFIRM' | translate }}</button>
  </ng-container>
  <ng-container *ngIf="shareFileStep===2">
    <button nz-button nzSize="large" nzType="primary" (click)="dialogNameChange.emit(null)">{{ 'COMMON.DONE' |
      translate }}</button>
  </ng-container>
</ng-template>

<!-- 同意分享 -->
<nz-modal [nzVisible]="dialogName==='agreeShare'" (nzOnCancel)="dialogNameChange.emit(null)" [nzMaskClosable]="false"
  [nzTitle]="'TXEDEN.AGREE_SHARE' | translate" [nzFooter]="agreeShareFooter" class="buy-space">
  <ng-container *ngIf="agreeShareStep===0">
    <div nz-row class="review">
      <div nz-col nzSpan="6" class="label">{{ 'INPUT.FILE_NAME' | translate }}{{ 'COMMON.COLON' | translate }}</div>
      <div nz-col nzSpan="14" class="text-right">{{ agreeShareInfo.fileName }}</div>
    </div>
    <div nz-row class="review">
      <div nz-col nzSpan="6" class="label">{{ 'INPUT.FILE_SIZE' | translate }}{{ 'COMMON.COLON' | translate }}</div>
      <div nz-col nzSpan="14" class="text-right">{{ agreeShareInfo.fileSize | humanSize }}</div>
    </div>
    <div nz-row class="review">
      <div nz-col nzSpan="6" class="label">{{ 'INPUT.PAY_PRICE' | translate }}{{ 'COMMON.COLON' | translate }}</div>
      <div nz-col nzSpan="14" class="text-right">{{ agreeShareInfo.price }}</div>
    </div>
    <br />
    <div nz-row class="review">
      <div nz-col nzSpan="6" class="label">{{ 'INPUT.STORE_BUCKET' | translate }}{{ 'COMMON.COLON' | translate }}</div>
      <nz-select nz-col nzSpan="14" [ngModel]="agreeShareBucketId" (ngModelChange)="agreeShareBucketChange($event)">
        <nz-option *ngFor="let b of agreeShareBuckets" [nzValue]="b.id" [nzLabel]="b.name"></nz-option>
      </nz-select>
    </div>
    <app-input (submit)="dialogDone()" name="gas" [(ipt)]="agreeShareGas" [span]="[6, 14]"></app-input>
    <app-input (submit)="dialogDone()" name="password" [(ipt)]="agreeSharePassword" [span]="[6, 14]"></app-input>
  </ng-container>
  <ng-container *ngIf="agreeShareStep===1">
    <i nz-icon type="check-circle" theme="outline"></i>
  </ng-container>
</nz-modal>
<ng-template #agreeShareFooter>
  <ng-container *ngIf="agreeShareStep===0">
    <button nz-button nzSize="large" nzType="primary" [disabled]="agreeShareDisabled" (click)="agreeShareSubmit()">{{
      'COMMON.CONFIRM' | translate }}</button>
  </ng-container>
  <ng-container *ngIf="agreeShareStep===1">
    <button nz-button nzSize="large" nzType="primary" (click)="dialogNameChange.emit(null)">{{ 'COMMON.DONE' |
      translate }}</button>
  </ng-container>
</ng-template>

<!-- 拒绝分享 -->
<nz-modal [nzVisible]="dialogName==='rejectShare'" (nzOnCancel)="dialogNameChange.emit(null)" [nzMaskClosable]="false"
  [nzTitle]="'TXEDEN.REJECT_SHARE' | translate" [nzFooter]="rejectShareFooter" class="buy-space">
  <ng-container *ngIf="rejectShareStep===0">
    <!-- <div nz-row class="review">
      <div nz-col nzSpan="6" class="label">{{ 'INPUT.FILE_NAME' | translate }}{{ 'COMMON.COLON' | translate }}</div>
      <div nz-col nzSpan="14" class="text-right">{{ rejectShareInfo.fileName }}</div>
    </div> -->
    <div nz-row class="review">
      <div nz-col nzSpan="24" class="text-center">{{'COMMON.REJECT_SHARE_CONFIRM' | translate }}</div>
    </div>
    <div nz-row class="review">
      <div nz-col nzSpan="24" class="text-center">{{'COMMON.DELETE_SHARE_CONFIRM' | translate }}</div>
    </div>
    <br />
    <app-input (submit)="dialogDone()" name="password" [(ipt)]="rejectSharePassword" [span]="[6, 14]"></app-input>
  </ng-container>
  <ng-container *ngIf="rejectShareStep===1">
    <i nz-icon type="check-circle" theme="outline"></i>
  </ng-container>
</nz-modal>
<ng-template #rejectShareFooter>
  <ng-container *ngIf="rejectShareStep===0">
    <button nz-button nzSize="large" nzType="primary" [disabled]="rejectShareDisabled" (click)="rejectShareSubmit()">{{
      'COMMON.CONFIRM' | translate }}</button>
  </ng-container>
  <ng-container *ngIf="rejectShareStep===1">
    <button nz-button nzSize="large" nzType="primary" (click)="dialogNameChange.emit(null)">{{ 'COMMON.DONE' |
      translate }}</button>
  </ng-container>
</ng-template>

<!-- 删除分享 -->
<nz-modal [nzVisible]="dialogName==='deleteShare'" (nzOnCancel)="dialogNameChange.emit(null)" [nzMaskClosable]="false"
  [nzTitle]="'TXEDEN.DELETE_SHARE' | translate" [nzFooter]="deleteShareFooter" class="buy-space">
  <ng-container *ngIf="deleteShareStep===0">
    <div nz-row class="review">
      <div nz-col nzSpan="24" class="text-center">{{'EDEN_FILE_SHARE.DELETE_SHARE_TIP' | translate }}</div>
    </div>
    <br />
    <app-input (submit)="dialogDone()" name="password" [(ipt)]="deleteSharePassword" [span]="[6, 14]"></app-input>
  </ng-container>
  <ng-container *ngIf="deleteShareStep===1">
    <i nz-icon type="check-circle" theme="outline"></i>
  </ng-container>
</nz-modal>
<ng-template #deleteShareFooter>
  <ng-container *ngIf="deleteShareStep===0">
    <button nz-button nzSize="large" nzType="primary" [disabled]="deleteShareDisabled" (click)="deleteShareSubmit()">{{
      'COMMON.CONFIRM' | translate }}</button>
  </ng-container>
  <ng-container *ngIf="deleteShareStep===1">
    <button nz-button nzSize="large" nzType="primary" (click)="dialogNameChange.emit(null)">{{ 'COMMON.DONE' |
      translate }}</button>
  </ng-container>
</ng-template>

<!-- 设置inbox-->
<nz-modal [nzTitle]="'MAIL.SET_RECEIVE' | translate" (nzOnCancel)="dialogNameChange.emit(null)" [nzVisible]="dialogName==='setInbox'"
  (nzOnOk)="dialogDone()" [nzZIndex]="9" [nzOkText]="'COMMON.CONFIRM' | translate" [nzCancelText]="null" class="no-mask">
  <app-input (submit)="dialogDone()" name="password-no-label" [(ipt)]="setInboxPass" [span]="[0,24]"></app-input>
</nz-modal>

<!-- 设置outbox-->
<nz-modal [nzTitle]="'MAIL.SET_SEND' | translate" (nzOnCancel)="dialogNameChange.emit(null)" [nzVisible]="dialogName==='setOutbox'"
  (nzOnOk)="dialogDone()" [nzZIndex]="9" [nzOkText]="'COMMON.CONFIRM' | translate" [nzCancelText]="null" class="no-mask">
  <app-input (submit)="dialogDone()" name="password-no-label" [(ipt)]="setOutboxPass" [span]="[0,24]"></app-input>
</nz-modal>

<!-- 签收Message-->
<nz-modal [nzVisible]="dialogName==='signInMessage'" (nzOnCancel)="dialogNameChange.emit(null)" [nzMaskClosable]="false"
  [nzTitle]="'TXEDEN.AGREE_SHARE' | translate" [nzFooter]="signInMessageFooter" class="buy-space">
  <ng-container *ngIf="signInMessageStep===0">
    <app-input (submit)="dialogDone()" name="gas" [(ipt)]="signInMessageGas" [span]="[6, 14]"></app-input>
    <app-input (submit)="dialogDone()" name="password" [(ipt)]="signInMessagePassword" [span]="[6, 14]"></app-input>
  </ng-container>
  <ng-container *ngIf="signInMessageStep===1">
    <i nz-icon type="check-circle" theme="outline"></i>
  </ng-container>
</nz-modal>
<ng-template #signInMessageFooter>
  <ng-container *ngIf="signInMessageStep===0">
    <button nz-button nzSize="large" nzType="primary" [disabled]="signInMessageDisabled" (click)="signInMessageSubmit()">{{
      'COMMON.CONFIRM' | translate }}</button>
  </ng-container>
  <ng-container *ngIf="signInMessageStep===1">
    <button nz-button nzSize="large" nzType="primary" (click)="dialogNameChange.emit(null)">{{ 'COMMON.DONE' |
      translate }}</button>
  </ng-container>
</ng-template>

<!-- 发送邮件 -->
<nz-modal [nzVisible]="dialogName==='sendMessage'" (nzOnCancel)="dialogNameChange.emit(null)" [nzMaskClosable]="false"
  [nzTitle]="'MAIL.SEND_MESSAGE' | translate" [nzFooter]="sendMessageFooter" class="buy-space">
  <ng-container *ngIf="sendMessageStep===0">
    <app-input (submit)="dialogDone()" name="recipient" [(ipt)]="sendMessageTo" [span]="[6, 14]"></app-input>
    <app-input (submit)="dialogDone()" name="messageTitle" [(ipt)]="sendMessageTitle" [span]="[6, 14]"></app-input>
    <div nz-row class="review">
      <div nz-col nzSpan="2">
      </div>
      <div nz-col nzSpan="18">
        <textarea row="6" nz-input [(ngModel)]="sendMessageContent" style="height:250px"></textarea>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="sendMessageStep===1">
    <div nz-row class="review">
      <div nz-col nzSpan="6" class="label">{{ 'INPUT.RECIPIENT' | translate }}{{ 'COMMON.COLON' | translate }}</div>
      <div nz-col nzSpan="14" class="text-right">{{ sendMessageTo }}</div>
    </div>
    <div nz-row class="review">
      <div nz-col nzSpan="6" class="label">{{ 'INPUT.MESSAGE_TITLE' | translate }}{{ 'COMMON.COLON' | translate }}</div>
      <div nz-col nzSpan="14" class="text-right">{{ sendMessageTitle }}</div>
    </div>
    <div nz-row class="review">
      <div nz-col nzSpan="2">
      </div>
      <div nz-col nzSpan="18">
        <textarea disabled="true" row="6" nz-input [(ngModel)]="sendMessageContent" style="height:250px"></textarea>
      </div>
    </div>
    <br />
    <app-input (submit)="dialogDone()" name="gas" [(ipt)]="sendMessageGas" [span]="[6, 14]"></app-input>
    <app-input (submit)="dialogDone()" name="password" [(ipt)]="sendMessagePassword" [span]="[6, 14]"></app-input>
  </ng-container>
  <ng-container *ngIf="sendMessageStep===2">
    <i nz-icon type="check-circle" theme="outline"></i>
  </ng-container>
</nz-modal>
<ng-template #sendMessageFooter>
  <ng-container *ngIf="sendMessageStep===0">
    <button nz-button nzSize="large" nzType="primary" (click)="sendMessageStep=sendMessageStep+1">{{ 'COMMON.NEXT' |
      translate }}</button>
  </ng-container>
  <ng-container *ngIf="sendMessageStep===1">
    <button nz-button nzSize="large" nzType="primary" (click)="sendMessageStep=sendMessageStep-1">{{ 'COMMON.PREV' |
      translate }}</button>
    <button nz-button nzSize="large" nzType="primary" [disabled]="sendMessageDisabled" (click)="sendMessageSubmit()">{{
      'COMMON.CONFIRM' | translate }}</button>
  </ng-container>
  <ng-container *ngIf="sendMessageStep===2">
    <button nz-button nzSize="large" nzType="primary" (click)="dialogNameChange.emit(null)">{{ 'COMMON.DONE' |
      translate }}</button>
  </ng-container>
</ng-template>

<!-- openMessage -->
<nz-modal [nzVisible]="dialogName==='openMessage'" (nzOnCancel)="dialogNameChange.emit(null)" [nzMaskClosable]="false"
  [nzTitle]="'MAIL.SEND_MESSAGE' | translate" [nzFooter]="openMessageFooter" class="buy-space">
  <ng-container>
    <div nz-row class="review">
      <div nz-col nzSpan="6" class="label">{{ 'INPUT.SENDER' | translate }}{{ 'COMMON.COLON' | translate }}</div>
      <div nz-col nzSpan="14" class="text-right">{{ openMessageFromAddress }}</div>
    </div>
    <div nz-row class="review">
      <div nz-col nzSpan="6" class="label">{{ 'INPUT.RECIPIENT' | translate }}{{ 'COMMON.COLON' | translate }}</div>
      <div nz-col nzSpan="14" class="text-right">{{ openMessageToAddress }}</div>
    </div>
    <div nz-row class="review">
      <div nz-col nzSpan="6" class="label">{{ 'INPUT.MESSAGE_TITLE' | translate }}{{ 'COMMON.COLON' | translate }}</div>
      <div nz-col nzSpan="14" class="text-right">{{ openMessageTitle }}</div>
    </div>
    <div nz-row class="review">
      <div nz-col nzSpan="2">
      </div>
      <div nz-col nzSpan="18">
        <textarea disabled="true" row="6" nz-input [(ngModel)]="openMessageContent" style="height:250px"></textarea>
      </div>
    </div>
  </ng-container>
</nz-modal>
<ng-template #openMessageFooter>
  <ng-container>
    <button nz-button nzSize="large" nzType="primary" (click)="dialogNameChange.emit(null)">{{ 'COMMON.CONFIRM' |
      translate }}</button>
  </ng-container>
</ng-template>

<!-- 删除邮件 -->
<nz-modal [nzVisible]="dialogName==='deleteMessage'" (nzOnCancel)="dialogNameChange.emit(null)" [nzMaskClosable]="false"
  [nzTitle]="'MAIL.DELETE_MESSAGE' | translate" [nzFooter]="deleteMessageFooter" class="buy-space">
  <ng-container *ngIf="deleteMessageStep===0">
    <app-input (submit)="dialogDone()" name="password" [(ipt)]="deleteMessagePassword" [span]="[6, 14]"></app-input>
  </ng-container>
  <ng-container *ngIf="deleteMessageStep===1">
    <i nz-icon type="check-circle" theme="outline"></i>
  </ng-container>
</nz-modal>
<ng-template #deleteMessageFooter>
  <ng-container *ngIf="deleteMessageStep===0">
    <button nz-button nzSize="large" nzType="primary" [disabled]="deleteMessageDisabled" (click)="deleteMessageSubmit()">{{
      'COMMON.CONFIRM' | translate }}</button>
  </ng-container>
  <ng-container *ngIf="deleteMessageStep===1">
    <button nz-button nzSize="large" nzType="primary" (click)="dialogNameChange.emit(null)">{{ 'COMMON.DONE' |
      translate }}</button>
  </ng-container>
</ng-template>

<!-- 申请别名 -->
<nz-modal [nzVisible]="dialogName==='applyNick'" (nzOnCancel)="dialogNameChange.emit(null)" [nzMaskClosable]="false"
  [nzTitle]="'NICK.APPLY_NICK' | translate" [nzFooter]="applyNickFooter" class="buy-space">
  <ng-container *ngIf="applyNickStep===0">
    <app-input (submit)="dialogDone()" name="nickName" [(ipt)]="applyNickName" [span]="[6, 14]"></app-input>
  </ng-container>
  <ng-container *ngIf="applyNickStep===1">
    <div nz-row class="review">
      <div nz-col nzSpan="6" class="label">{{ 'INPUT.NICK_PRICE' | translate }}{{ 'COMMON.COLON' | translate }}</div>
      <div nz-col nzSpan="14" class="text-right">{{ applyNickPrice }} GNX</div>
    </div>
    <app-input (submit)="dialogDone()" name="gas" [(ipt)]="applyNickGas" [span]="[6, 14]"></app-input>
    <app-input (submit)="dialogDone()" name="password" [(ipt)]="applyNickPassword" [span]="[6, 14]"></app-input>
  </ng-container>
  <ng-container *ngIf="applyNickStep===2">
    <i nz-icon type="check-circle" theme="outline"></i>
  </ng-container>
</nz-modal>
<ng-template #applyNickFooter>
  <ng-container *ngIf="applyNickStep===0">
    <button nz-button nzSize="large" nzType="primary" [disabled]="applyNickDisabled" (click)="getNamePrice()">{{
      'COMMON.CONFIRM' | translate }}</button>
  </ng-container>
  <ng-container *ngIf="applyNickStep===1">
    <button nz-button nzSize="large" nzType="primary" (click)="applyNickStep=applyNickStep-1">{{ 'COMMON.PREV' |
      translate }}</button>
    <button nz-button nzSize="large" nzType="primary" [disabled]="applyNickDisabled" (click)="applyNickSubmit()">{{
      'COMMON.CONFIRM' | translate }}</button>
  </ng-container>
  <ng-container *ngIf="applyNickStep===2">
    <button nz-button nzSize="large" nzType="primary" (click)="dialogNameChange.emit(null)">{{ 'COMMON.DONE' |
      translate }}</button>
  </ng-container>
</ng-template>
