@import "../../config.scss";
.buy-space,
.buy-traffic {
  .review {
    margin-bottom: 1rem;
    .label {
      text-align: right;
    }
  }
  ::ng-deep .ant-modal-footer {
    &>span {
      margin-right: 1rem;
    }
  }
}

.anticon-check-circle {
  font-size: 5rem;
  margin: 1rem 2rem;
  color: $success-color;
}
