<ul nz-menu nzMode="inline">
  <li nz-menu-item [routerLink]="['/wallet']" [nzSelected]="page==='/wallet'">
    <i class="anticon anticon-wallet"></i>
    {{ "SIDERBAR.WALLET" | translate }}
  </li>
  <li nz-menu-item [routerLink]="['/eden']" [nzSelected]="page==='/eden' || open(page,'/eden;path=')" *ngIf="settingService.showEden">
    <i class="anticon anticon-folder"></i>
    {{ "SIDERBAR.EDEN_FILE" | translate }}
  </li>
  <li nz-submenu [nzOpen]="open(page,'/eden-')" *ngIf="settingService.showEden">
    <span title>
      <i class="anticon anticon-clock-circle-o"></i>
      {{ "SIDERBAR.EDEN_TASK" | translate }}
    </span>
    <ul>
      <li nz-menu-item [routerLink]="['/eden-inprocess']" [nzSelected]="page==='/eden-inprocess'">
        <i class="anticon anticon-sync" [class.anticon-spin]="(this.edenService.tasks | tableTask:'eden-inprocess').length>0"></i>
        {{ "SIDERBAR.EDEN_INPROCESS" | translate }}
      </li>
      <li nz-menu-item [routerLink]="['/eden-done']" [nzSelected]="page==='/eden-done'">
        <i class="anticon anticon-check-circle-o"></i>
        {{ "SIDERBAR.EDEN_DONE" | translate }}
      </li>
    </ul>
  </li>
  <li nz-menu-item [routerLink]="['/tx-eden']" [nzSelected]="page==='/tx-eden'" *ngIf="settingService.showTxEden">
    <i class="anticon anticon-shop"></i>
    {{ "SIDERBAR.TXEDEN" | translate }}
  </li>
  <li nz-menu-item [routerLink]="['/tx-sharer']" [nzSelected]="page==='/tx-sharer'" *ngIf="settingService.showTxSharer">
    <i class="anticon anticon-shop"></i>
    {{ "SIDERBAR.TXSHARER" | translate }}
  </li>
  <li nz-menu-item [routerLink]="['/sharer']" [nzSelected]="page==='/sharer'" *ngIf="settingService.showSharer">
    <i class="anticon anticon-database"></i>
    {{ "SIDERBAR.SHARER" | translate }}
  </li>
  <li nz-menu-item [routerLink]="['/currentCommittee']" [nzSelected]="page==='/currentCommittee'" *ngIf="settingService.showCurrentCommittee">
    <i class="anticon anticon-team"></i>
    {{ "SIDERBAR.COMMITTEE" | translate }}
  </li>
  <li nz-menu-group *ngIf="settingService.showCommittee">
    <span title>
      <i class="anticon anticon-appstore-o"></i>
      {{ "SIDERBAR.CO_CONSTRUCTION_NODES" | translate }}
    </span>
    <ul>
      <li nz-menu-item [routerLink]="['/committee']" [nzSelected]="page==='/committee'">
        <i class="anticon anticon-solution"></i>
        {{ "SIDERBAR.CURRENT_RANKS" | translate }}
      </li>
      <li nz-menu-item [routerLink]="['/joinCommittee']" [nzSelected]="page==='/joinCommittee'">
        <i class="anticon anticon-usergroup-add"></i>
        {{ "SIDERBAR.JOIN_COMMITTEE" | translate }}
      </li>
    </ul>
  </li>
</ul>
