<ul nz-menu>
  <li nz-menu-item [routerLink]="['/wallet']">
    <i mat-icon>account_balance_wallet</i>
    {{ "SIDERBAR.WALLET" | translate }}
  </li>
  <li nz-menu-item [routerLink]="['/tx-eden']">
    <i mat-icon>storage</i>
    {{ "SIDERBAR.EDEN" | translate }}
  </li>
  <li nz-menu-item [routerLink]="['/tx-sharer']">
    <i mat-icon>storage</i>
    {{ "SIDERBAR.SHARER" | translate }}
  </li>
  <li nz-menu-item [routerLink]="['/sharer']">
    <i mat-icon>storage</i>
    {{ "SIDERBAR.SHARER" | translate }}
  </li>
</ul>
