@import "../../config";
:host {
  flex: 1;
  box-shadow: $box-shadow;
  overflow: hidden;
  border-radius: $border-radius;
  background: $content-bg;
  position: relative;
}

app-copy {
  display: none;
}

td:hover app-copy {
  display: inline;
}

::ng-deep .ant-spin-nested-loading {
  position: static;
  .ant-spin-container {
    position: static;
    .ant-spin-container {
      position: static;
      nz-pagination {
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }
  }
}

nz-table {
  ::ng-deep nz-pagination>ul {
    position: relative;
    right: 1rem;
  }
  th,
  td {
    padding: 1rem 0.5rem;
    &:first-of-type {
      padding-left: 1rem;
    }
  }
}

.tx {
  td {
    i.anticon {
      font-size: 1rem;
      &.anticon-check-circle {
        color: $success-color;
      }
      &.anticon-question-circle {
        color: $warn-color;
      }
      &.anticon-close-circle {
        color: $error-color;
      }
    }
  }
}

.tx-pg {
  position: absolute;
  right: 30px;
  bottom: 30px;
}

.text-gray {
  color: grey;
}

.text-green {
  color: green;
}

.text-red {
  color: red;
}

.text-yellow {
  color: yellow;
}

.text-orange {
  color: orange;
}

.addr-input {
  float: right;
  width: 300px;
}

.panel {
  flex: 0 26rem;
  background: $content-bg;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  padding-left: 1rem;
  >.header {
    padding-top: 1rem;
    font-size: 1rem;
    font-weight: bold;
    >a {
      font-weight: normal;
      margin-right: 8px;
      font-size: 16px;
    }
    >.searchInput {
      width: 60%;
      float: right;
      margin-right: 1rem;
    }
  }
}

.rank-self {
  width: 32px;
  position: absolute;
  margin-top: -20px;
}
